
/*For the input in the tables heade*/
.handsontable.HandsontableClassCustom tr:first-child th {
  vertical-align: bottom;
}

.handsontable.HandsontableClassCustom th > div.filterHeader {
  border-top: 1px solid #CCC;
}

.handsontable.HandsontableClassCustom th > div.filterHeader > input {
  width: calc(100% - 10px);
  box-shadow: none;
  border: 1px solid #CCC;
  margin-top: 1px;
}

#externalFilter {
  display: none;
  margin-left: 10px;
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  margin-bottom: 50px;
}

#externalFilter > .button-holder {
  position: relative;
}

#externalFilter > .button-holder .buttons {
  left: 5px;
}

#externalFilter > .demo-columnChoose,
#externalFilter > .demo-columnChoose > select,
#externalFilter > .demo-filterSelect {
  width: 200px;
}

#externalFilter > .demo-columnChoose > select {
  display: block;
  margin: 2px 0px 10px 0px;
}

#externalFilter > .demo-filterSelect {
  border: 1px solid #cccccc;
  max-height: 200px;
  overflow: auto;
}

#externalFilter > .demo-filterSelect > .demo-controllers {
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  background-color: rgb(243, 243, 243);
  padding: 2px 0px;
}

#externalFilter > .demo-filterSelect > .demo-controllers {
  padding: 5px;
}

#externalFilter > .demo-filterSelect > .demo-items {
  padding: 5px;
}

#externalFilter > .demo-filterSelect > .demo-items > .demo-item > label:before {
  content: ' ';
  white-space: pre;
}

#externalFilter > .button-holder {
  margin-top: 10px;
}
/*END For the input in the tables heade*/

/*Zooming IMG*/
.thumb-show {
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
  width:380px;
}
.thumb-showToggled
{
  
  width:570px;
  transition-delay: 0.1s;
}
.HotAndImgToggled
{
  width:100%;
  margin:auto;
}

.thumb-show img {
  width: 100%;
  float: left;
  
}
.mainHotImg
{
    border:solid 1px grey;
    box-shadow: 2px 2px 4px #888888;
    padding: 0px !important;
    height:700px !important;

}
.thumb-show img.zoom {
  position: absolute;
  -moz-transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
  -o-transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
  -webkit-transition: width 0.2s ease-out, opacity 0.2s ease-out;
  -webkit-transition-delay: 0s, 0.2s;
  transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
}
/*END Zooming IMG*/

#pdfIframe
{
    width:380px;
    height:700px;
}
.pdfIframeToggled iframe
{
  width:570px !important;
  height:700px !important;

}
.mainDivImgPreview
{
  margin:0;
  padding:0;
}

#hot
{
  margin-top: 0px;
  margin-left: 17px !important;
  margin-right: 10px;
  width:645px !important;
}

.mainImgAndPdf
{
  margin-top: 0px;
  margin-left: 0px;
}



.displayNo
{
   display: none;
}
.displayYes
{
    display: inline;
}

/*Ecraser la regle css qui cache les checkbox*/
[type=checkbox]:checked, [type=checkbox]:not(:checked) {
position: inherit !important;
  opacity: 1 !important;

}

#inputFiltre, #ddlViewBy
{
  display:inline;
  width:118px;
  height:34px;
  border : solid 1px #aaa;
}
#inputFiltre
{
  width:215px;
}
.TableInfo, .TableInfo2
{
  color: black;
}
.TableInfo
{
  display: inline;
}