{% extends 'base_login.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!--Data Tables -->
  <link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
{% endblock %}
 
{% block body %}
	<div class="card border-primary border-top-sm border-bottom-sm card-authentication1 mx-auto my-5 animated bounceInDown" style="max-width:50%">
		<div class="card-body">

		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="{{ asset('assets/images/logo_facnote_login.png') }}">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3"> Sélectionner le dossier  </div>

		  <table width="100%" id="dossiersList" class="table table-striped table-bordered table-hover gui_collaborateur_step-6" role="grid" aria-describedby="dossiers_infos">
		  	<thead>
			  	<tr>
			  		<th width="20%"> Dossier  </th>
			  		<th width="40%"> Client </th>
			  		<th width="30%"> Activité </th>
			  		<th width="10%"></th>
			  	</tr>
		  	</thead>

		  	<tbody>
		  		{% for d in dossiers %}
		  		<tr>
		  			<td> {{ d.numeroDossier }} </td>
		  			<td> {{  d.raisonSociale|capitalize }} </td>
		  			<td> {{ d.soctype|capitalize }} </td>
		  			<td align="center"> 
		  				<button type="button" class="btn btn-outline-primary waves-effect waves-light m-1 btn_action" onClick="javascript:goToUrl('{{ path('login_check_app_base', { 'appBase': d.numeroDossier } ) }}');"  data-toggle="tooltip" data-placement="top"  data-original-title="Se connecter" > <i class="fa fa-folder-open"  title="Se connecter" ></i> </button>
		  			</td>
		  		</tr>
		  		{% endfor %} 
		  	</tbody>
		  </table>
		    
		   </div>
		  </div>
	     </div>
    <script>
     $(document).ready(function() {
     	$('[data-toggle="tooltip"]').tooltip();
      //Default data table
           var langMap = {
        en: {
            path: 'English',
            mods: {
                sLengthMenu:     "Show _MENU_ entries",
            }
        },
        fr: {
            path: 'French',
            mods: {
                sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
            }
        },
        gr: {
            path: 'German',
            mods: {
                sLengthMenu: "_MENU_ Einträge anzeigen"
            }
        }
    };

	function getLanguage() {
	  var lang = 'fr';
	  var result = null;
	  var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
	  $.ajax({
	    async: false,  
	    url: path + langMap[lang].path + '.json',
	    success: function(obj) {
	      result = $.extend({}, obj, langMap[lang].mods)
	    }
	  })
	  return result
	}
	var table = $('#dossiersList').DataTable({
	    order: [0],
	    stateSave: true,
	    columnDefs: [ { orderable: false, targets: [3] } ],
	    language: getLanguage(),
	});
} );

function goToUrl(_url) {
    document.location.href = _url;
}

</script>
{% endblock %}