{% extends 'base_login.html.twig' %}
 
{% block body %}
	<div class="card border-primary border-top-sm border-bottom-sm card-authentication1 mx-auto my-5 animated bounceInDown">
		<div class="card-body">
			 {% if app.session.get('flashMessageLoginError') is defined and app.session.get('flashMessageLoginError') != '' %}
			  <div class="alert alert-danger alert-dismissible" role="alert">
			   <button type="button" class="close" data-dismiss="alert">×</button>
			    <div class="alert-icon"><i class="icon-close"></i></div>
			    <div class="alert-message">
			      <span><strong>Erreur!</strong> {{ app.session.get('flashMessageLoginError') }}</span>
			      {{ app.session.set('flashMessageLoginError', '') }}
			    </div>
			  </div>
			  {% endif %}


		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="{{ asset('assets/images/logo_facnote_login.png') }}">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3"> Connectez-vous  </div>
		    <form action="{{ path('login_check') }}" method="post">
			  <div class="form-group">
			   <div class="position-relative has-icon-right">
				  <label for="username" class="sr-only">Login</label>
				  <input type="text" name="username" id="username" class="form-control form-control-rounded" placeholder="Votre adresse email" required="required">
				  <div class="form-control-position">
					  <i class="icon-user"></i>
				  </div>
			   </div>
			  </div>
			  <div class="form-group">
			   <div class="position-relative has-icon-right">
				  <label for="password" class="sr-only">Mot de passe</label>
				  <input type="password" name="password" id="password" class="form-control form-control-rounded" placeholder="Votre mot de passe" required="required">
				  <div class="form-control-position">
					  <i class="icon-lock"></i>
				  </div>
			   </div>
			  </div>
			<div class="form-row mr-0 ml-0">
			 <div class="form-group col-6">
			   <div class="demo-checkbox">
                <input type="checkbox" id="user-checkbox" class="filled-in chk-col-primary" checked="" />
                <label for="user-checkbox">Se souvenir de moi</label>
			  </div>
			 </div>
			 <div class="form-group col-6 text-right">
			  <a href="{{ path('login_reset') }}">Mot de passe oublié ?</a>
			 </div>
			</div>
			 <button type="submit" class="btn btn-primary shadow-primary btn-round btn-block waves-effect waves-light">Se connecter</button>
			  
			 </form>
		   </div>
		  </div>
	     </div>
{% endblock %}