{% extends 'base_login.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="card border-primary border-top-sm border-bottom-sm card-authentication1 mx-auto my-4 animated bounceInDown">
        <div class="card-body">
         <div class="card-content p-2">
            <div class="text-center">
                <img src="{{ asset('assets/images/logo_facnote_login.png') }}">
            </div>
        <div class="card-title text-uppercase text-center py-3">Modifier votre mot de passe</div>
        <form action="" method="post"  onsubmit="return validFormUsers()">

              <div class="form-group">
               <div class="position-relative has-icon-right">
                  <p align="center">Compte: {{ username }}</p>
               </div>
              </div>

              <div class="form-group">
               <div class="position-relative has-icon-right">
                  <label for="exampleInputPassword" class="sr-only">{{ form_label(form.plainPassword.first ) }}</label>
                  {{ form_widget(form.plainPassword.first ) }}
                  <label id="error_pw" class="error" for="input-10"></label>
                  <div class="form-control-position">
                      <i class="icon-lock"></i>
                  </div>
               </div>
              </div>

              <div class="form-group">
               <div class="position-relative has-icon-right">
                  <label for="exampleInputRetryPassword" class="sr-only">{{ form_label(form.plainPassword.second ) }}</label>
                  {{ form_widget(form.plainPassword.second ) }}
                  <label id="error_pw2" class="error" for="input-10"></label>
                  <div class="form-control-position">
                      <i class="icon-lock"></i>
                  </div>
               </div>
              </div>

             <button type="submit" class="btn btn-primary shadow-primary btn-round btn-block waves-effect waves-light"> Valider </button>    

            {{ form_rest(form) }}

        </form>
        </div>
    </div>
</div>
<script language="javascript">

    function validFormUsers() {
        var _password = $.trim($('#utilisateurs_userbundle_users_plainPassword_first').val());
        var _password2 = $.trim($('#utilisateurs_userbundle_users_plainPassword_second').val());
        if(_password.length < 6 && _password!='') {
            $("#error_pw").html('Le mot de passe doit contenir au moins six caractères.');
            return false;
        }

        if( _password != _password2) {
            $("#error_pw2").html('Confirmation de mot de passe invalide.');
            return false;
        }

        return true;
    }
</script>
{% endblock %}