<html>
	<body>
		<p>
        	Bonjour,<br /><br />
        	Veuillez initialiser votre mot de passe grâce au lien suivant: <a href="{{ resetPath }}">{{ resetPath }}</a><br /><br />

        	Cordialement,<br />
        	Equipe technique - Facnote France<br />
        </p>
    </body>
</html>
