{% extends 'base_login.html.twig' %}

{% block body %}
<div class="card border-primary border-top-sm border-bottom-sm card-authentication1 mx-auto my-5 animated bounceInDown">
    <div class="card-body">
     <div class="card-content p-2">
     <div class="text-center">
                <img src="{{ asset('assets/images/logo_facnote_login.png') }}">
    </div>
    <p class="text-center pb-2">
          {% if info == 1 %}
            Un émail à été envoyé à l'adresse suivante : <strong>{{ username }}</strong><br>    
          {% else %}
                 Votre mot de passe a été modifié avec succès
          {% endif %}
    </p>
   <p class="text-muted" align="center"> <a href="{{ path('login_homepage') }}"> Se connecter </a></p>
</div>
</div>
</div>
{% endblock %}