{% extends 'base_login.html.twig' %}

{% block body %}
<div class="card border-primary border-top-sm border-bottom-sm card-authentication1 mx-auto my-5 animated bounceInDown">
    <div class="card-body">
     <div class="card-content p-2">
     <div class="text-center">
                <img src="{{ asset('assets/images/logo_facnote_login.png') }}">
    </div>

      {% if error is defined %}
                    <div style="padding: 10px 2px; font-weight: bold; color: #AA0000;"> Cette adresse email n'existe pas  </div>
      {% endif %}
        <p class="text-center pb-2"> Veuillez saisir votre adresse e-mail dans la zone de saisie ci-dessous.</p>
        <form action="{{ path('login_reset_check') }}" method="post">
          <div class="form-group">
           <div class="position-relative has-icon-right">
              <label for="user_email" class="sr-only">Email Address</label>
              <input type="text" id="user_email" name="user_email" class="form-control form-control-rounded" equired="required" placeholder="Adresse email">
              <div class="form-control-position">
                  <i class="icon-envelope-open"></i>
              </div>
           </div>
          </div>
         
          <button type="submit" class="btn btn-primary shadow-primary btn-round btn-block waves-effect waves-light mt-3">Demander le mot de passe</button>
          <div class="text-center pt-3">
            <hr>
            <p class="text-muted"> <a href="{{ path('login_homepage') }}"> Se connecter </a></p>
          </div>
         </form>
       </div>
      </div>
 </div>
{% endblock %}