.mt-30 { margin-top: 30px; }
.form-next { 
    margin-top: 10px;
    padding-left: 40px;
}
.form-and{
        position: absolute;
        content: "et";
        margin-top: 7px;
        margin-left: 14px;
        color: #ccc;
        text-transform: lowercase;
}
.btn-constraint {
    position: absolute;
    right: -57px;
    margin-top: -41px;
    z-index: 1;
}

td.contient em {
    font-size: 12px;
    margin-right: 15px;
}

#btnMoreContrainte .fa{
    margin-right: 10px;
}

#btnMoreContrainte.dropdown-toggle::after{
    margin-left: 30px;
}

.row_constraint:nth-child(2) .form-and{
    display: none;
}

.row_constraint:nth-child(2) .form-next{
    padding-left: 10px;
}

