{% extends 'base.html.twig' %}
{% block title %} Facnote - Droits {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>
    <!--Data Tables -->
  <link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>  
   <script src="{{ asset('assets/popper.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js') }}"></script>

{% endblock %}

{% block body %}

<style type="text/css">
.btn-primary { border-color: #fff !important; border-bottom-color: #fff !important;  }
.toggle-off.btn  { background-color: red !important; border-color: #fff !important;  color: #FFF; }
.toggle-on.btn  { background-color: #5cb85c !important;  border-color: #fff !important; color: #FFF; }
.toggle-handle { background-color: #fff !important;  }
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.btn-sm { padding:8px 12px  !important; }
.toggle .btn  { padding:8px 12px  !important; }
</style>

<div class="card">
<div class="card-header">
	<div class="row">
	<div class="col-12 col-lg-6">
       <!--<button type="button" class="btn btn-outline-danger waves-effect waves-light gui_collaborateur_step-5" onClick="" > <i class="fa fa-trash-o"></i> <span>SUPPRIMER</span> </button>-->

      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-3" onClick="javascript:goToUrl('{{ path('utilisateurs_user_export_pdf') }}');"> <i class="fa fa fa-file-pdf-o"></i> <span>PDF</span> </button>



      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-4" onClick="javascript:goToUrl('{{ path('utilisateurs_user_export_csv') }}');"> <i class="fa fa-file-excel-o"></i> <span>EXCEL</span> </button>

  </div>
      
      <div class="col-12 col-lg-6">

      {% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
      <div class="alert alert-success alert-dismissible" role="alert" >
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <div class="alert-icon">
					 <i class="icon-check"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
				    </div>
	   {{ app.session.set('flashMessageUser', '') }}
      </div>
  {% endif %}


    </div>

</div>
</div>
	<div class="card-body">
		<div class="table-responsive">

			{% for flashMessage in app.session.flashbag.get('flashMessage') %}
			    <div class="alert-message">
			              <span><strong>Succès!</strong> {{ flashMessage }} </span>
			    </div>
			{% endfor %}

			<div id="example_wrapper">
			<table id="droitsList" width="100%" class="table table-striped table-bordered " role="grid" aria-describedby="users_info">
			<thead>
			    <tr role="row">
			    	<th style="width: 166px;" class="sorting_asc">Module</th>
			    	{% for d in dossiers %}
			    		<th style="width: 100px; text-align:center" class="no-sort" >
			    			{{ d.raisonSociale  }} <br>{{ d.base  }} 
			    			<input type="checkbox" name="droitsCheckboxAll" data-style="ios" data-height="8" data-width="20" data-style="ios"  checked="checked"  data-toggle="toggle" data-on="OK" data-off="KO" value="{{ d.id }}" onclick="checkedDroit(this.checked,'all','{{ d.id }}')">
			    		</th>
			    	{% endfor %} 
			</thead>
			<tbody>
				{% if modules|length > 0 %}
				{% for m in modules %}
			    <tr role="row" class="even" align="center"  >
			        <td align="left" >  {{ m.module  }}  </td>
			        {% for d in dossiers %}
			    		<td style="width: 100px;"> 
			    			{% set checkedDroit = 0 %}
			    			{% if droits[m.id][d.id] is defined and droits[m.id][d.id] == true %}
			    			{% set checkedDroit = 1 %}
			    			{% endif %}	
			    			<input type="checkbox" name="droitsCheckbox" id="droitsCheckbox{{ d.id }}" data-height="8" data-width="20" data-style="ios"  data-style="ios" {% if checkedDroit == 1 %} checked="checked" {% endif %}  data-toggle="toggle" data-on="OK" data-off="KO" value="{{ d.id }}" class="dossierClass" onclick="checkedDroit(this.checked,'{{ m.id }}','{{ d.id }}')">
			    		</td>
			    	{% endfor %}					
			    </tr>
			     {% endfor %}
			     {% else %}
		        <tr>
		            <td colspan="6">
		                No data found !
		            </td>
		        </tr>
		    {% endif %}
			</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
<script>
     $(document).ready(function() {
     	$('[data-toggle="tooltip"]').tooltip();
      //Default data table
           var langMap = {
        en: {
            path: 'English',
            mods: {
                sLengthMenu:     "Show _MENU_ entries",
            }
        },
        fr: {
            path: 'French',
            mods: {
                sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
            }
        },
        gr: {
            path: 'German',
            mods: {
                sLengthMenu: "_MENU_ Einträge anzeigen"
            }
        }
    };

	function getLanguage() {
	  var lang = 'fr';
	  var result = null;
	  var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
	  $.ajax({
	    async: false,  
	    url: path + langMap[lang].path + '.json',
	    success: function(obj) {
	      result = $.extend({}, obj, langMap[lang].mods)
	    }
	  })
	  return result
	}


var table = $('#droitsList').DataTable({
    buttons: [ 'colvis' ],
    order: [0],
    stateSave: true,
    "aLengthMenu" : [[100], [100]],
    columnDefs: [ { orderable: false, targets: "no-sort" } ],
    language: getLanguage(),
  
});


table.buttons().container().appendTo( '#droitsList_filter' );

$("#droitsList_filter div").css({"margin-left":"30px", "margin-right":"30px"});
$(".buttons-colvis").html('<i class="fa fa-navicon"></i> COLONNES ');



$('.toggle').click(function() {
  var clicks = $(this).data('clicks');
  var checkBoxes = $(this).find(':checkbox');
  checkBoxes.click();
});


 

} );

</script>

<script >
 function checkedDroit(val, module, dossier) {
 	$.ajax({
        type: "POST",
        url: "{{ path('utilisateurs_droits_dossiers_modules_check') }}",
        data: 'droit=' + val+'&dossier='+dossier+'&module='+module,
        success: function(msg) {      
        	if(module == 'all') {
        		$('.dossierClass:checkbox').each(function () {
				   valDossier = $(this).val();
				   if(valDossier == dossier) {
				   	 var toggle = $(this).parent('div.toggle');
				   	if(val) {
				   		toggle.removeClass('btn-default');
				   		toggle.removeClass('off');
				   		toggle.addClass('btn-primary');
					} else {
						toggle.removeClass('btn-primary');
				   		toggle.addClass('off');
					}
				   }				    
				});
        	}
    	}   	
    });
    return false; 
 }

</script>



{% endblock %}


