#resetButton2{

    height:37px;
    vertical-align: top;
	width: 100px !important;
	text-align:center;
}
#myForm input
{
	display: inline-block;
	width: 200px;
}
#datedebut, #datefin
{
	margin-bottom: 15px;
    height:38px;
    padding: 2px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
#searchInBase
{	margin-bottom: 15px;
    height:38px;
    padding: 2px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline;
}
.table1
{
    width:45%;
    display:inline-block;
    text-align: left;
}
.buttonsJour
{
	margin-bottom:5px;
}
#mainVolet
{
	width:100%;
	overflow: auto;
	border:solid 1px lightgray;
	color:black;
	max-height: 700px;
	min-height: 700px;
	min-width: 200px;
	overflow: auto;
}

.tableMain1
{
	max-width:25%;
	/*border-right:solid 1px lightgray;*/
	border: none;
	vertical-align: top;
}
.GED .whichTable0
{
	max-width:120px;
	min-width: 160px;
	/*border-right:solid 1px lightgray;*/
	border: none;
	vertical-align: top;
}
.GED .whichTable1
{
	width:100px !important;
	min-width: 100px;
	/*border-right:solid 1px lightgray;*/
	border: none;
	vertical-align: top;
}
.GED .whichTable2
{
	width:100px !important;
	min-width: 150px;
	/*border-right:solid 1px lightgray;*/
	border: none;
	vertical-align: top;
}
.GED .whichTable3
{
	min-width: 715px;
	/*border-right:solid 1px lightgray;*/
	border: none;
	vertical-align: top;
}
.tableMain1
{
	border-right:solid 1px lightgray;
    display:inline-block;
    /*text-align: left;*/
    margin-bottom:0px;
    border-right: solid 1px lightgray;
	max-height: 500px;
	min-height: 500px;
	min-width: 200px;
	overflow: auto;
}
.GED .tableMain1 
{
	border-right:solid 1px lightgray;
    display:inline-block;
    /*text-align: left;*/
    margin-bottom:0px;
    border-right: solid 1px lightgray;
	max-height: 500px;
	min-height: 500px;
	overflow: auto;
}
.tableMain1Search
{
	width:100% !important;
	max-width:100% !important;
}
.tableMain1 td
{
	border:none;
	padding:7px !important;
    
}
.tableMain1 tbody
{
	width:100% !important;
	max-width:100% !important;
	min-width:100% !important;
}
/*td.numeroCompteT1Td
{
	border-right:solid 1px lightgray;
}*/
.compteT1Td, .removableT1
{
	width:100% !important;
	/*border-right: solid 1px lightgray;*/
}
.displayNo
{
	display:none;
}
tr.bg-primary {
    color: #FFFFFF;
    FONT-WEIGHT: 400;
}
.compteClicked
{
	cursor: pointer;
}