#liste-societe {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#liste-societe li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#liste-societe li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#closeSuggestions {
  display: none; z-index: 999; position: absolute; right: 8px; top: 8px;
}