/*.suppFichier
{
  position: absolute;
right: 43px;
}*/
.suppFichier
{
  float: right;
  display: inline;
  margin-top:10px;
  margin-right:20px;
}
#submitSearch, #resetButton2
{
  width:111px !important;
  margin-left:25%;
}
.spanGuide
{
  padding:8px;
}
.alertNote
{
  width:700px !important;
}
.imageFichier
{
  width:670px !important;
  height:780px !important;
  text-align: center;
  margin-left:15px;
  margin-right:5px;
  margin-top:10px;
}
#fileCategorie
{
  display: inline;
  width:155px;
}
.envoyerFichBtn
{
  position: absolute;
  display: inline-block;
  right:10px;
  top:23px;
}
.fileOpenC
{
  max-height:60px;
  overflow: auto;
  margin:7px !important;
  margin-bottom:17px !important;
  display: inline-block !important;
}
.fileOpenC:hover
{
  cursor: pointer;
}
#pdfFichier
{
  width:690px;
  height:780px;
  margin-left:10px !important;
  margin-right:15px;
}
.imageFichierBig
{

  width:750px !important;
}
.pdfFichierBig
{

  width:750px !important;
}
@media all and (min-width: 1200px) {
  /*.imageFichier {
  margin-left:80px;
  width:980px !important;
  }*/

  #pdfFichier
  {
    width:570px;
    margin-left:15px !important;
  }
  .pdfFichierBig
  {

    width:640px !important;
  }
}
@media all and (min-width: 1400px) {
  /*.imageFichier {
  margin-left:80px;
  width:980px !important;
  }*/

  #pdfFichier
  {
    width:670px;
    margin-left:15px !important;
  }
  .pdfFichierBig
  {

    width:750px !important;
  }
}
@media all and (min-width: 1600px) {
  /*.imageFichier {
  margin-left:80px;
  width:980px !important;
  }*/

  #pdfFichier
  {
    width:770px !important;
    margin-left:15px !important;
  }
  .pdfFichierBig
  {

    width:850px !important;
  }
}
@media all and (min-width: 1880px) {
  .imageFichier {
  margin-left:80px;
  width:860px !important;
  }

  #pdfFichier
  {
    width:925px !important;
    margin-left:15px !important;
  }
  .pdfFichierBig
  {

    width:1005px !important;
  }
}
/*@media all and (min-width: 2275px) {
  .imageFichier {
  margin-left:100px;
  width:1200px !important;
  }

  /*#pdfFichier
  {
    width:1200px !important;
    margin-left:40px !important;
  }
}*/


.fichierNom:hover
{
  background-color: #D3D3D3 /*lightgrey*/ /*#b4dff0*/;
}
.fichierNom
{
  padding:6px;
  margin-bottom:0px;
  color: black;
}
.fichierActive
{
  background-color: #008cff;
  color:white;
}

.theColonnes
{
  margin-right:5px;
  border: 1px solid #1493fe;
  color: #007bff;
  display: inline-block;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: .25rem;
  text-transform: uppercase;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  background-color: #fff;

}
.deuxZones
{
  margin-bottom:0px;
  padding-left:0px;
  padding-right:0px;
}

.borderRight
{

  border-right: 1px solid lightgrey;
}
.zoneFichier2, .zoneFichier
{ 
  display: inline-block;
  width:8%;
  text-align: center;
  /*background-color: #f7f7f7;*/
  max-height: 975px;
  min-height: 975px;
  overflow: auto;
}
.zoneFichier3
{

  width:14%;
  text-align: left;
}
.zoneFichierImage
{

  width:51%;
  text-align: left;
  margin-left:15px;
}
.zoneFichierSearch
{

  width:25%;
  text-align: left;
}
#mainGedForm input
{
  /*width:100% ;*/
}
.rechercherGed
{


  margin-right: 3px !important;
  margin-left: 5px !important;
  /*margin-left:28%;*/
  border: 1px solid #1493fe;
  color: #007bff;
  display: inline-block;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 10px !important;
  border-radius: .25rem;
  text-transform: uppercase;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  background-color: #fff;
  text-align:center !important;

}
.fichNoTrouve
{
  height:40px;
}
.rechercherGedAjouter
{


  margin-right: 3px !important;
  margin-left:20px !important;
  margin-bottom:20px !important;
  border: 1px solid #1493fe;
  color: #007bff;
  display: inline-block;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 10px !important;
  border-radius: .25rem;
  text-transform: uppercase;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  background-color: #fff;
  text-align:center !important;

}
.rechercherGed:hover
{
  cursor: pointer;

}
#searchType
{
	
	width:161px !important;
	border:solid 1px lightgray;
	border-radius:0;
	margin:0;
}
#searchAnnee
{
	
	width:100px !important;
	border:solid 1px lightgray;
	border-radius:0;
	margin-left:-5px;
}
#searchFichier
{
	
	width:151px !important;
	border:solid 1px lightgray;
	border-radius:0;
	margin:0;
	margin-left:-5px;
}
#fileUpload
{
  width:225px;
}
.displayNo
{
	display: none !important;
}
.pasImage
{
  margin: 15px !important;
  color:red;
}
#pasPdf
{
  margin: 15px !important;
  color:red;
}
/*SIDE BAR*/
#wrapperGed
{
  border:solid lightgrey 1px;
}
#typeUploadGed
{
  width:150px;
}

#fileFormGed
{
  width:1700px !important;
  text-align: right;
  padding-bottom: 15px;
  margin-left: 53%;
}

.envoyerFichier
{
  margin:10px;
}
.sidebar-heading, .navbar-Ged
{
  height:60px;
  padding:15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.sidebar-heading
{
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  color:#008cff;
}
form .form-footer
{
  border-top:none;
}
.modal-body
{
  text-align: left;

}
#form_envoi_nouveau_fichier
{
  height: 248px  !important;
  min-height: 235px !important;
  padding:0px;
  width:450px;
  display: inline-block;
  margin-right:9px;
  margin-left:9px;
  text-align: center;
  vertical-align: center;

}
.dz-image, .dz-preview, .dz-details, .dz-size
{
  height: 65px !important;
  max-height: 65px !important;
  min-height: 65px !important;
  width: 65px !important;
  max-width: 65px !important;
  min-width: 65px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.messageUpload
{
  padding:1px;
  margin-bottom:2px !important;
  margin-top:0px !important;
  text-align: center;
  padding-top:4px;
  font-size: 14px !important;
}
.topFilters, #resetButton2, #submitSearch
{
    height:38px;
  width: 100px;
}

.topFilters
{
    height:38px;
    width: 100px;
    border:solid 1px;
    border-radius: .25rem;
    border:solid 1px #ced4da;
    margin-right: 10px !important;
    margin-bottom: 25px !important;
}
.fichierResult
{

}
.red
{
  color:red;
}
.fichierNom
{
  padding-left: 19px;
}
.listDossier
{
  display: inline-block;
  max-height: 750px;
  width:220px !important;
  margin-left: 0px !important;
  margin-top: 10px !important;
  overflow: auto;
}
.fichierNom li
{
  list-style-type:square;
}
.fichierNom
{
  font-size:13px;
}
.dossierGedList
{
  width:220px !important;
  list-style-type:none;
}
.dossierGedList li
{
  margin:7px;
  text-transform: uppercase;
}
.dossierGedList a
{
  color:black;
  text-decoration: underline;
}
.tousDossier
{
  color:black;
  text-decoration: underline;
}
.activeDossier {
  color:#008cff;
  display: inline-block;
}
.dossierGedList a:hover{
  color:#008cff;
}