<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>{% block title %}Facnote{% endblock %} </title>
  <!-- for chat -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
  <!--favicon-->
  <link rel="icon" href="{{ asset('assets/images/logo-icon.ico') }}" type="image/x-icon">
  {% block stylesheets %}
  <!-- Bootstrap core CSS-->
  <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <!-- animate CSS-->
  <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="{{ asset('assets/css/sidebar-menu.css') }}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{{ asset('assets/css/app-style.css') }}" rel="stylesheet"/>
 <!-- Enjoyhint for the Guide-->
<link href="{{ asset('assets/css/enjoyhint.css') }}" rel="stylesheet">
{# CHAT CSS #}
 <link href="{{ asset('bundles/chatsocket/css/style.css') }}" rel="stylesheet"/>

  {% endblock %}

  {% block javascripts %}
  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset('assets/js/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/js/popper.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/js/sidebar-menu.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/js/app-script.js') }}" type="text/javascript"></script>

  <!-- Custom scripts -->
  <script src="{{ asset('assets/js/libs.js') }}" type="text/javascript"></script>
  <!-- Index js -->

  {% endblock %}

</head>

<body>
   
{% set userConnect = app.session.get('userConnect') %}
  {% set appBase = app.session.get('app_base') %}
<!-- Start wrapper-->
 <div id="wrapper">
 
  <!--Start NAVIGATION-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="#">
       <img src="{{ asset('assets/images/logo_facnote_v3.png') }}" class="" style="width: 200px;height: 55px;margin: 4px;" alt="logo icon">
       <h5 class="logo-text"></h5>
     </a>
     </div>
     <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header"> NAVIGATION</li>


      <li {% if classActive is defined and classActive=="users" %} class="active" {% endif %} >
        <a href="{{ path('utilisateurs_user_homepage') }}" class="waves-effect gui_collaborateur_step-1">
          <i class="fa fa-user"></i>
          <span>Collaborateurs</span>
        </a>
      </li>

    <li {% if classActive is defined and classActive=="Tickets" %} class="active" {% endif %} >
    <a href="{{ path('support_ticket_homepage') }}" class="waves-effect">
      <i class="fa fa-life-ring" aria-hidden="true"></i>
      <span>Support</span>
    </a>
  </li>


      




    </ul>
     
   </div>
   <!--End NAVIGATION-->

<!--Start NAVIGATION TOP -->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top bg-white">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      <form class="search-bar">
        <input type="text" class="form-control" placeholder="Entrer mot clé">
         <a href="javascript:void();"><i class="icon-magnifier"></i></a>
      </form>
    </li>
  </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
    <a href="#" style="color:black;" class="gui_ecriture_step-0 gui_ecriture_step-9"><li id="startTheGuide"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></li></a>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
        <i class="icon-envelope-open"></i>
        <!--<span class="badge badge-danger badge-up">0</span>-->
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <ul class="list-group list-group-flush">
         <li class="list-group-item d-flex justify-content-between align-items-center">
          Vous aves 0 nouveau messages
          <span class="badge badge-danger">0</span>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void();">
           <!--<div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="{{ asset('assets/images/avatars/avatar.png') }}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-0 msg-title">Jhon Deo</h6>
            <p class="msg-info">Bla bla bla ...</p>
            <small>Mardi, 4:10 PM</small>
            </div>
          </div>-->
          </a>
          </li>
          <li class="list-group-item"><a href="javaScript:void();">Tous Messages</a></li>
        </ul>
        </div>
    </li>

    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="icon-bell"></i>
     <!-- <span class="badge badge-primary badge-up">0</span> -->
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Vous avez 0 Notifications
         <span class="badge badge-primary">0</span>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void();">
           <!--<div class="media">
             <i class="icon-people fa-2x mr-3 text-info"></i>
            <div class="media-body">
            <h6 class="mt-0 msg-title">New Registered Users</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
            </div>
          </div>-->
          </a>
          </li>
          <li class="list-group-item"><a href="javaScript:void();">Toutes Notifications</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="#"><i class="flag-icon flag-icon-fr"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> Français</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> Anglais</li>
        </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="{{ asset('assets/images/avatars/avatar.png') }}" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="{{ asset('assets/images/avatars/avatar.png') }}" alt="user avatar"></div>
            <div class="media-body">              
            <h6 class="mt-2 user-title">{{ userConnect.nom }}   {{ userConnect.prenom }}</h6>
            <p class="user-subtitle">{{ userConnect.email }}</p>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Messages </li> 
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" onClick="javascript:goToUrl('{{ path('utilisateurs_moncompte_homepage') }}')"><i class="icon-wallet mr-2"></i> Mon compte</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Paramètres</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" onClick="javascript:goToUrl('{{ path('login_logout') }}')"><i class="icon-power mr-2"></i> Se déconnecter </li>
      </ul>
    </li>
  </ul>
</nav>
</header>
<!--End NAVIGATION TOP -->
<body>
<div id="wrapper">
    <div class="clearfix"></div>
    
    <div class="content-wrapper">

  <div id="errorMsgGuide" class="displayNo alert" role="alert"></div>
      {% block body %}{% endblock %}

    </div><!--End content-wrapper-->

   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
    <!--Start footer-->
    <footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 <a href="http://facnote.com" target="_blank"> www.facnote.com</a>
        </div>
      </div>
    </footer>
    <!--End footer-->

</div><!--End wrapper-->
{% block js_footer %}{% endblock %}
</body>
</html>
