{% extends 'base.html.twig' %}
{% block title %} Facnote - Collaborateurs {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('js/clickSave.js')) }}" type="text/javascript"></script>
    <!--Data Tables -->
    <link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/popper.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script>

{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-3" onClick="javascript:goToUrl('{{ path('tracabilite_trace_export_pdf') }}');"> <i class="fa fa fa-file-pdf-o"></i> <span>PDF</span> </button>
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-4" onClick="javascript:goToUrl('{{ path('tracabilite_trace_export_csv') }}');"> <i class="fa fa-file-excel-o"></i> <span>EXCEL</span> </button>

                </div>

                <div class="col-12 col-lg-5">


                    {% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
                        <div class="alert alert-success alert-dismissible" role="alert" >
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <div class="alert-icon">
                                <i class="icon-check"></i>
                            </div>
                            <div class="alert-message">
                                <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
                            </div>
                            {{ app.session.set('flashMessageUser', '') }}
                        </div>
                    {% endif %}

                    {% if app.session.get('flashMessageUserError') is defined and app.session.get('flashMessageUserError') != '' %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <div class="alert-icon"><i class="icon-close"></i></div>
                            <div class="alert-message">
                                <span><strong>Erreur!</strong> {{ app.session.get('flashMessageUserError') }}</span>
                                {{ app.session.set('flashMessageUserError', '') }}
                            </div>
                        </div>
                    {% endif %}


                </div>

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <div id="example_wrapper">
            <table id="traceList" width="100%" class="table table-striped table-bordered table-hover gui_collaborateur_step-6" role="grid" aria-describedby="users_info">
                <thead>
                    <tr role="row">
                        <th style="width: 166px;" class="sorting_asc">Base</th>
                        <th style="width: 166px;">Utilisateur</th>
                        <th style="width: 166px;">Module</th>
                        <th style="width: 166px;">Commentaire</th>
                        <th style="width: 166px;">Ip</th>
                        <th style="width: 166px;">Date</th>

                </thead>
                <tbody>
                    {% for T in trace %}
                    <tr role="row" class="{% if loop.index is divisible by(2)  %} odd {% else %} even {% endif %}"  >
                        <td class="editable"  > {{ T.base  }} </td>
                        <td class="editable" > {{ T.utilisateur }} </td>
                        <td class="editable" > {{ T.module  }} </td>
                        <td class="editable" > {{ T.commentaire  }} </td>
                        <td class="editable" > {{ T.ip }} </td>
                        <td class="editable" > {{ T.date|date('d/m/Y')   }} </td>


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>

    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            //Default data table
            var langMap = {
                en: {
                    path: 'English',
                    mods: {
                        sLengthMenu:     "Show _MENU_ entries",
                    }
                },
                fr: {
                    path: 'French',
                    mods: {
                        sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
                    }
                },
                gr: {
                    path: 'German',
                    mods: {
                        sLengthMenu: "_MENU_ Einträge anzeigen"
                    }
                }
            };

            function getLanguage() {
                var lang = 'fr';
                var result = null;
                var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
                $.ajax({
                    async: false,
                    url: path + langMap[lang].path + '.json',
                    success: function(obj) {
                        result = $.extend({}, obj, langMap[lang].mods)
                    }
                })
                return result
            }

// Build Datatable
            var table = $('#traceList').DataTable({
                buttons: [ 'colvis' ],
                order: [0],
                stateSave: true,
                language: getLanguage()

            });

            table.buttons().container().appendTo( '#traceList_filter' );

            $("#traceList_filter div").css({"margin-left":"30px", "margin-right":"30px"});
            $(".buttons-colvis").html('<i class="fa fa-navicon"></i> COLONNES ');


        } );


    </script>




{% endblock %}