<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-size:16px">
<table border="0" width="100%" align="center" id="listing">
    <tr style="height: 20px; text-align: center; font-weight: bold; border-bottom: 1px #CCCCCC solid;border-left: 1px #CCCCCC solid; background: #E6E6E6;">
        <td>Base</td>
        <td>Utilisateur</td>
        <td>Module</td>
        <td>Commentaire</td>
        <td>Ip</td>
        <td>Date</td>
    </tr>
    {% for item in trace %}
        <tr style="border-bottom: 1px #CCC solid; vertical-align: top; {% if loop.index is divisible by(2)  %} background-color: #FFFFFF; {% else %} background-color: #F5F5F5;  {% endif %}">
            <td>{{ item.base }}</td>
            <td>{{ item.utilisateur }}</td>
            <td>{{ item.module }}</td>
            <td align="center">{{ item.commentaire }}</td>
            <td align="center">{{ item.ip }}</td>
            <td align="center">{{ item.date|date('d/m/Y') }}</td>

        </tr>
    {% endfor %}
</table>
</body>
</html>