{% extends 'base.html.twig' %}

{% block title %}Gestion des clients{% endblock %}


{% block body %}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
			<div class="table-responsive">
            <form>
			<h4 class="form-header text-uppercase"><i class="fa fa-address-book-o"></i> Client Infos</h4>


              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td> Civilité </td>
                    <th>{{ client.idType.getType() }} </th>
                    <td>Nom de contact</td>
                    <th>{{ client.nomContact }}</th>
                  </tr>
                  <tr>
                    <td> Nom </td>
                    <th>{{ client.nom }}</th>
                    <td>Prénom</td>
                    <th>{{ client.prenom }}</th>
                  </tr>

                  <tr>
                    <td> Email </td>
                    <th>{{ client.email }}</th>
                    <td>Email facture</td>
                    <th>{{ infosClient.emailFacture }}</th>
                  </tr>

                  <tr>
                    <td> Ville </td>
                    <th>{{ client.ville }}</th>
                    <td>Code postal</td>
                    <th>{{ client.codePostal }}</th>
                  </tr>

                  <tr>
                    <td> Adresse </td>
                    <th>{{ client.adresse }}</th>
                    <td> Pays </td>
                    <th>{{ client.idPays.pays }}</th>
                  </tr>


                  <tr>
                    <td> Tél bureau </td>
                    <th>{{ client.fixe }}</th>
                    <td> Mobile </td>
                    <th>{{ client.mobile }}</th>
                  </tr>

                </tbody>
              </table>


        <h4 class="form-header text-uppercase"><i class="fa fa-file-text-o"></i> Facturation</h4>

        <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td> Numéro Tva </td>
                    <th>{{ infosClient.numeroTva }} </th>
                    <td>Siret</td>
                    <th>{{ infosClient.siret  }}</th>
                  </tr>
                  <tr>
                    <td> Email facture </td>
                    <th>{{ infosClient.emailFacture }}</th>
                    <td>Reste à pays</td>
                    <th>00.00</th>
                  </tr>

                  <tr>
                    <td> Date facture </td>
                    <th></th>
                    <td>Date devis</td>
                    <th></th>
                  </tr>


                  <tr>
                    <td> Total CA </td>
                    <th></th>
                    <td>RIB Bancaire</td>
                    <th></th>
                  </tr>



                </tbody>
              </table>



          </form>
            </div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
