<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="font-size:16px">
        <table border="0" width="100%" align="center" id="listing">
            <tr style="height: 20px; text-align: center; font-weight: bold; border-bottom: 1px #CCCCCC solid;border-left: 1px #CCCCCC solid; background: #E6E6E6;">
                <td>RAISON SOCIALE</td>
                <td>RESPONSABLE</td>
                <td>TYPE</td>
                <td>EMAIL</td>
                <td>TELEPHONE</td>
                <td>VILLE</td>
                <td>SIREN</td>
                <td>TVA</td>
            </tr>
            {% for item in societes %}
                <tr style="border-bottom: 1px #CCC solid; vertical-align: top; {% if loop.index is divisibleby(2) %} background-color: #FFFFFF; {% else %} background-color: #F5F5F5;  {% endif %}">
                    <td>{{ item.raisonSociale }}</td>
                    <td>{{ item.nomResponsable }}</td>
                    <td>{{ item.typeSociete }}</td>
                    <td>{{ item.emailSociete }}</td>
                    <td align="center">{{ item.phoneSociete }}</td>
                    <td align="center">{{ item.villeSiege }}</td>
                    <td align="center">{{ item.siren }}</td>
                    <td align="center">{{ item.numeroTva }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>