/*END Loading Animation*/
.card-body.loading-active{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
}

.bg-bleu
{
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.lds-ellipsis {
display: inline-block;
position: relative;
width: 64px;
height: 64px;
}
.lds-ellipsis div {
position: absolute;
top: 27px;
width: 11px;
height: 11px;
border-radius: 50%;
background: #333;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 6px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 6px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 26px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 45px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(19px, 0);
}
}
/*END Loading Animation*/
.displayNo
{
  display: none !important;
}
#theadTable1 th
{
  font-size: 12px;
  padding-right: 28px !important;
}
#theadTable2 th
{
  font-size: 12px;
  padding-right: 28px !important;
}
#searchInBase
{
    height:40px;
    width: 144px;
    padding: 2px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #1493fe;
    border-radius: .25rem;
}
#compteGeneral
{
    display:inline-block;
}
#dropDownExercice
{

    max-height: 250px;
    overflow: auto;

}

#exerciceButton
{

    display:inline;
}
.theColonnes
{
    margin-right:5px;
    border: 1px solid #1493fe;
    color: #007bff;
    display: inline-block;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: .25rem;
    text-transform: uppercase;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    background-color: #fff;

}
.buttonsT1 button, #myForm
{
  margin-right: 8px;
}
#exerciceButton a
{

    z-index: 1200;
}
.theColonnes:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.theColonnes i
{
  margin-right:2px;
}

.odd
{
    background-color: #f2f2f2;
}

.compteGeneralSelect
{
    border :solid 1px #0f8cff;
    color: #0f8cff ;
    background-color: white;
    font-weight: bold;
}
.emptyCell
{
     border-top: none !important;
     background-color:none !important;
}



.total1
{
  display: inline-block;
  text-align: left !important;
  position: absolute;
  left:20px;
  top:20px;
}
.rowForButtons, .rowForButtons2
{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding:0px;
    display:inline-block;
    margin-right: 15px;
}
.table1
{
    width:35%;
    height: 100%;/*300px;*/
    /*overflow: auto;*/
    display:inline-block;
    margin-left:5px;
    margin-right:-10px !important;
    margin-top:3px;
    text-align: right;
}
.card-body
{
  padding: 0px;
}
.card
{
}
.mainT1T2
{
  border:none;
  margin:0px;
  padding:0px;
}
.ecrituresList1, .ecrituresList
{

    /*margin-right:40px !important;*/
}
.table2
{
    text-align: right;
    width:64%;
    height: 100%;/*300px;*/
    /*overflow: auto;*/
    margin-left:16px;
    margin-top:3px;
    display:inline-block;
    font-size: 12.5px;
}
.table1 td, .table1 th
{
   /* white-space: pre-wrap;
    word-wrap: break-word;*/
    /*white-space: normal;
    word-wrap: break-word;
    word-break: break-all;*/
}
tr.bg-primary {
    color: #FFFFFF;
    FONT-WEIGHT: 400;
}





.header-fixed
{
 table-layout:fixed;
}
/*
.header-fixed tbody
{ display:block;
  max-height:300px;
  overflow-y:scroll;
}
*/
.header-fixed thead, .header-fixed tbody tr , .header-fixed tfoot
{
  /* display:table; */
 width:100%;
  table-layout:fixed;
}


#addingRows1, #addingRows {
    scrollbar-width: none;
  }
  #addingRows1::-webkit-scrollbar {
      display: none !important;
  }
  #addingRows::-webkit-scrollbar {
      display: none !important;
  }

.header-fixed thead tr th, .header-fixed tbody tr td
{
  /*width:20px !important;*/
   /* white-space: pre-wrap;
    word-wrap: break-word;*/
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
/*.header-fixed thead
{
  padding-right:22px !important;

}
.header-fixed tfoot
{
  padding-right:15px !important;

}*/




.header-fixed .libelleT2
{
  /*width:100px !important;*/
  text-align: left;

}
.header-fixed .dateT2
{
  /*width:50px !important;*/
  text-align: left;

}

.header-fixed .dateT2Td
{
  /*width:50px !important;*/
  text-align: left;

}
.header-fixed .journalT2
{
  /*width:6% !important;*/
  text-align: left;

}
.header-fixed .journalT2Td
{
  /*width:6% !important;*/
  text-align: left;

}
.header-fixed .libelleT2Td
{
  /*width:80px !important;*/
  text-align: left;

}

.header-fixed .libelleT1
{
  /*width:20% !important;*/
  text-align: left;

}
.header-fixed .libelleT1Td
{
  /*width:22% !important;*/
  text-align: left;

}
.header-fixed .numeroCompteT1Td
{
  /*width:17% !important;*/
  text-align: left;

}

.header-fixed .numeroCompteT1
{
  /*width:17% ;*/
  text-align: left;

}

.numeroCompteT1Td
{

  width:66px !important;
}
.libelleT1Td
{
  width:148px !important;
  text-align: left;

}

.debitT1Td, .creditT1Td
{

  width:75px !important;
}
.soldeNT1Td, .soldeN1T1Td
{

  width:78px !important;
}
/*.journalT2
{

width:11px !important;
}*/
.journalT2Td
{
width:37px !important;
}
.libelleT2Td
{
  width:165px !important;
}
.dateT2Td
{

  width:45px !important;
}
.soldeproT2Td
{

  width:75px !important;
}
.creditT2Td
{

  width:75px !important;
}
.debitT2Td
{

  width:74px !important;
}

.TotauxBoth
{

  font-size: 10px;
}
#totalT2
{
  font-size: 13px;
  font-weight: bold;
  width:52.5% !important;
}
#totalT1
{
  font-size: 13px;
  width:41.1% !important;
  font-weight: bold;

}
@-moz-document url-prefix() {

  #totalT1
  {
    width:40% !important;

  }

  #totalT2
  {
    /*width:56.5% !important;*/
  width:52.2% !important;
  }
  /*.libelleT2
  {
  width:244px !important;
  }*/
  /*#somSoldeN
  {
    width:79px !important;
  }
  #somAllCredit
  {
    width:76px !important;
  }
  #somAllDebit
  {
    width:75px !important;
  }*/
}
.TotauxBoth
{
  background-color: white !important;
}
/*#somSoldeN
{
  width:94px !important;
}
#somAllCredit
{
  width:88px !important;
}
#somAllDebit
{
  width:88px !important;
}*/
