span.type_obj {
    background: #008cff;
    padding: 7px 20px;
    color: #fff;
    margin-left: 5px;
    border: 2px solid #008cff;
    cursor: pointer;
}

span.type_obj.selected {
    background: #fff;
    color: #008cff;
}

span.type_obj::before {
    content: "\f00c";
    color: #008cff;
    font-family: FontAwesome;
}

span.type_obj.selected::before {
    /* color: #008cff; */
}

#facturesList_wrapper {
    overflow-y: -webkit-paged-y;
}

#facturesList_filter {
    padding-left: 0px;
}

.dataTables_length .dt-buttons.btn-group {
    margin-left: 25px;
}