body {

	font-size:12px!important;
  color: #022763;
}
#table-content  .table{
	margin-bottom: 0!important;
}

.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
}
.no-padding{
	padding: 0 !important;
	margin: 0 !important;
}

input[type="checkbox"]
{
	position:relative;
	left:auto!important;
	opacity: 1!important;
}
#pdf
{
	font-size: 12px;
}
#pdf select
{
	font-size: 12px;
}

input[type="date"]
{
	background-color: #f6fdf3;
}

input[type="text"], input[type="number"]
{
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	padding: 12px;
	height: 48px;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #ecf0f8;
	background-color: #f6fdf3;
	border-radius: 0;
	color: #223254;
	transition: all .15s ease;
}

#table-content table .blue{
	background-color:#004586;
	color:white;
	height: 50px;
	}
   .blue-light{
	background-color:#cfe7f5;
	}
	.red{
	background-color:#ffcccc;
	}

