.mainFacture {
  -webkit-box-shadow: 0 0 2px 1px #bbb;
  -moz-box-shadow: 0 0 2px 1px #bbb;
  box-shadow: 0 0 2px 1px #bbb;
  background: white;
  margin: 2px;
  padding: 1.25rem;
  border-radius: 4px;
}

.form-header {
  color: #223035;
  line-height: 3rem;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 25px;
  border-bottom: 1px solid #223035;
  text-transform: uppercase;
}
form {
  width: 100%;
}
form input {
  display: inline-block !important;
}
form label {
  display: inline-block !important;
}
div #TheTotal {
  /*text-align: right;*/
}

.formProduit {
  display: inline !important;
}
.add_field_button,
.remove_field_button {
  margin: 10px;
  margin-top: 15px;
}

.add_field_button,
.remove_field_button,
.input_fields_wrap,
.formProduitDelete {
  margin-left: 15px;
}
.formProduitDelete {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.buttonsAdd {
  margin-bottom: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087c3;
  text-decoration: none;
}

.header-facture {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaaaaa;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}

#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #0087c3;
  float: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087c3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0 0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

table#table-facture {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table#table-facture th,
table#table-facture td {
  padding: 20px;
  background: #eeeeee;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

table#table-facture th {
  white-space: nowrap;
  font-weight: normal;
}

table#table-facture td {
  text-align: center;
}

#notices {
  padding: 4px;
  border: 2px solid #0087c3;
}

table#table-facture td h3 {
  color: #57b223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table#table-facture .no {
  color: #ffffff;
  font-size: 1.6em;
  background: #57b223;
}

table#table-facture .desc {
  text-align: left;
}

table#table-facture .unit {
  background: #dddddd;
}

table#table-facture .qty {
}

table#table-facture .total {
  background: #57b223;
  color: #ffffff;
}

table#table-facture td.unit,
table#table-facture td.qty,
table#table-facture td.total {
  font-size: 1.2em;
}

table#table-facture tbody tr:last-child td {
  border: none;
}

table#table-facture tfoot td {
  padding: 10px 20px;
  background: #ffffff;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #aaaaaa;
}

table#table-facture tfoot tr:first-child td {
  border-top: none;
}

table#table-facture tfoot tr:last-child td {
  color: #57b223;
  font-size: 1.4em;
  border-top: 1px solid #57b223;
}

table#table-facture tfoot tr td:first-child {
  border: none;
}

#thanks {
  font-size: 2em;
  margin-bottom: 50px;
}

#notices {
  padding-left: 6px;
  border-left: 6px solid #0087c3;
}

#notices .notice {
  font-size: 1.2em;
}
