#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }

.ui-state-highlight { height: 1.5em; line-height: 1.2em;background-color:antiquewhite ; height: 200px; border-style: dashed; border-color: burlywood; text-align: center;font-size: 40px;color: burlywood }
.ui-state-highlight:before {
    content: " Drop here ";

 }
 
 .chart {
    width: 100% !important; 
    min-height: 250px;
    
  }
  
  .emptydiv{ height: 1.5em; line-height: 1.2em;background-color:antiquewhite ; height: 400px; border-style: dashed; border-color: burlywood; text-align: center;font-size: 40px;color: burlywood ;margin-top: 5%; padding-top: 25%;margin-right:0.5%}
  .card{
     margin-top: 10px;
     cursor: all-scroll;
  }

  .pointer{
     cursor: pointer;
     -moz-user-select: none; /* Firefox */
     -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
     -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
     user-select: none; /* Propriété standard */
  }