.dateExpiredRed
{
  color:red;
}
.dropzone
{
  margin-left:70px !important;
  margin:0px !important;
  padding:0px !important;
}
.selectAdmin
{
  display:inline;
  width:130px;
  height:39px !important;
  color:#008cff;
}
.newTicket
{
  font-weight: bold;
  color:black;
}
#formDateLivrai
{

  width:155px;
  margin-right:0px;
  padding-right:0px;
}
.content-wrapper
{
  padding-bottom: 15px;
}
#ticketClicked
{
  background-color: #008cff !important;
   color: #FFFFFF;
    FONT-WEIGHT: 400; 
}
#pdfIframe
{
  width:950px;
}
.buttonsTicket
{
  margin-right:6px;
  height: 39px !important;
}
.dateSmall
{
  font-size: 13px;
}
#datelivraison
{
  display: inline-block;
  width:85px;
  height:39px;
  border: 1px solid #1493fe ;
  border-radius: .25rem; 

}
.fichierUploaded
{
  width:100%;
  height:600px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.centerBym
{

  margin:auto;
}
.attenteClient
{
  color:grey;
}
.attenteAdmin
{
  color:#FFA500;
}
.regle
{
  color:#46C646;
}
.ouvert
{
  /*color:#46C646;*/
  color:#000;
}
.urgent
{
  color:#E10000;
}
#errorMsgGuide
{
  display: none;
}
.clickGetTicket:hover
{
   background-color: #008cff !important;
   color: #FFFFFF;
    FONT-WEIGHT: 400; 
   cursor: pointer;
}
.even
{
  background-color:white !important;
}
.mainTickets span
{
  margin:10px;
}

.adminMessage
{
  width:70% !important;
  float:left;
}
.clientMessage
{

  width:70% !important;
  float:right;
}
.clientMessage, .adminMessage
{

  /*background-color: white;*/
  /*border: 1px solid #cecece;*/
  color:black;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin:10px;
  padding:7px;
  border-radius: 5px;
}
.titreTd
{

  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.titreMessage
{
  border-bottom: 1px solid #cecece;
}


#compteGeneral
{
    display:inline-block;
}
#exerciceButton
{

    display:inline;
}
.theColonnes
{
    height: 39px;
    margin-right:5px;
    border: 1px solid #1493fe;
    color: #007bff;
    display: inline-block;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: .25rem;
    text-transform: uppercase;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    background-color: #fff;

}


.theColonnes:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.theColonnes i
{
  margin-right:2px;
}

.odd
{
    background-color: #f2f2f2;
}
.form-footer
{
  border-top:none !important;
}
.formMessageInput
{
}
.formMessageInput label
{
}
.formMessage
{
  display: inline-block;
  width:100%;
  padding-left: 15px;
}
.table1
{
    width:48%;
    overflow: auto;
    display:inline-block;
    margin-left:5px;
    margin-right:-10px !important;
    margin-top:3px;
    text-align: left;
}
.card-body
{
  padding: 5px;
}
.card
{
  box-shadow:none;
}
.mainT1T2
{
  border:none;
  margin:0px;
  padding:0px;
  height: 800px !important;
  min-height: 950px !important;
}

.table2
{ 
    border-left: 1px solid #cecece;
    text-align: left;
    width:50%;
    min-height: 950px !important;
    overflow: auto !important;
    margin-left:16px;
    margin-top:3px;
    display:inline-block;
}
.infoTicketCours p
{
  color: black;
  font-weight: bold;
}
