{% extends 'base.html.twig' %}
{% block title %} Facnote - Mon compte {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="card">
<div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Messages</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Modification</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active show" id="profile">
                    <h5 class="mb-3">Role {{ userConnect.roleName }}</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>A propos</h6>
                            <p>{{ userConnect.nom }}   {{ userConnect.prenom }} ({{ userConnect.email }}) </p>
                        </div>
                        <div class="col-md-6">
                        	<div class="row">
                        	 <div class="col-md-4"><span class="badge badge-primary" style="font-size:18px">Factures 90 &euro; </span></div>
                        	 <div class="col-md-4"><span class="badge badge-success" style="font-size:18px">Devis 43 &euro; </span></div>
                        	 <div class="col-md-4"><span class="badge badge-danger" style="font-size:18px">Frais 245 &euro; </span></div>
                        	</div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Dernières actions </h5>
                            <table class="table table-hover table-striped">
                                <tbody>   
                                {% for item in activites %}                                 
                                    <tr>
                                        <td>
                                            {{ item|raw }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissible" role="alert">
				   <button type="button" class="close" data-dismiss="alert">×</button>
				    <div class="alert-icon">
					 <i class="icon-info"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Info!</strong> Lorem Ipsum is simply dummy text.</span>
				    </div>
                  </div>
                    <table class="table table-hover table-striped">
                        <tbody>                                    
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus. 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros. 
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
                <div class="tab-pane" id="edit">
                    <form id="collaborateur-form" method="post" action="" onsubmit="return validFormUsers();">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">{{ form_label(form.nom) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.nom) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">{{ form_label(form.prenom) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.prenom) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">{{ form_label(form.telephonne) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.telephonne) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">{{ form_label(form.login) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.login) }}
                            </div>
                        </div>


                        <div class="form-group row">
				        <label class="col-lg-3 col-form-label form-control-label">{{ form_label(form.plainPassword.first ) }}</label>
				        <div class="col-lg-9">
				          {{ form_widget(form.plainPassword.first ) }}  
				          <label id="error_pw" class="error" for="input-10"></label>                
				        </div>
				      </div>

				      <div class="form-group row">
				        <label  class="col-lg-3 col-form-label form-control-label">{{ form_label(form.plainPassword.second ) }}</label>
				        <div class="col-lg-9">
				          {{ form_widget(form.plainPassword.second ) }}    
				           <label id="error_pw2" class="error" for="input-10"></label>                
				        </div>
				      </div>

                        <div class="form-footer" align="center">
				          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('utilisateurs_user_homepage') }}');"><i class="fa fa-times"></i> ANNULER</button>
				          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
				      </div>

				      <input type="hidden" name="idPersone" value="{{ infosUser.idPersone }}">
				      <input type="hidden" name="idTelephone" value="{{ infosUser.idTelephone }}">
				      <input type="hidden" name="idEmail" value="{{ infosUser.idEmail }}">


				      {{ form_rest(form) }}
      

                    </form>
                </div>
            </div>
        </div>
</div>


{% endblock %}


