{% extends 'base.html.twig' %}

{% block title %}Gestion des collaborateurs{% endblock %}



{% block body %}<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">

 {% if app.session.get('flashMessageUserError') is defined and app.session.get('flashMessageUserError') != '' %}
  <div class="alert alert-danger alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="alert-icon"><i class="icon-close"></i></div>
    <div class="alert-message">
      <span><strong>Erreur!</strong> {{ app.session.get('flashMessageUserError') }}</span>
      {{ app.session.set('flashMessageUserError', '') }}
    </div>
  </div>
  {% endif %}


    <form id="collaborateur-form" method="post" action="" onsubmit="return validFormUsers();">
      <h4 class="form-header text-uppercase">
        <i class="fa fa-user-circle-o"></i>
         Collaborateur Info
      </h4>
      <div class="form-group row">
        <label for="input-1" class="col-sm-2 col-form-label">{{ form_label(form.nom) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.nom) }}
        </div>
      </div>
      <div class="form-group row">
        <label for="input-2" class="col-sm-2 col-form-label">{{ form_label(form.prenom) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.prenom) }}
        </div>
      </div>

      <div class="form-group row">
        <label for="input-4" class="col-sm-2 col-form-label">{{ form_label(form.telephonne) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.telephonne) }}
        </div>
      </div>
      <h4 class="form-header">
      <i class="fa fa-lock"></i>
        CONNEXION
      </h4>
      <div class="form-group row">
        <label for="input-3" class="col-sm-2 col-form-label">{{ form_label(form.roleid) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.roleid) }}                  
        </div>
      </div>
      
      <div class="form-group row">
        <label for="input-3" class="col-sm-2 col-form-label">{{ form_label(form.active) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.active) }}                  
        </div>
      </div>

      <div class="form-group row">
        <label for="input-3" class="col-sm-2 col-form-label">{{ form_label(form.login) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.login) }}                  
        </div>
      </div>

      <div class="form-group row">
        <label for="input-3" class="col-sm-2 col-form-label">{{ form_label(form.plainPassword.first ) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.plainPassword.first ) }}  
          <label id="error_pw" class="error" for="input-10"></label>                
        </div>
      </div>

      <div class="form-group row">
        <label for="input-3" class="col-sm-2 col-form-label">{{ form_label(form.plainPassword.second ) }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.plainPassword.second ) }}    
           <label id="error_pw2" class="error" for="input-10"></label>                
        </div>
      </div>


      <div class="form-footer" align="center">
          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('utilisateurs_user_homepage') }}');"><i class="fa fa-times"></i> ANNULER</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
      </div>

      <input type="hidden" name="idPersone" value="{{ infosUser.idPersone }}">
      <input type="hidden" name="idTelephone" value="{{ infosUser.idTelephone }}">
      <input type="hidden" name="idEmail" value="{{ infosUser.idEmail }}">


      {{ form_rest(form) }}
      
    </form>

</div>
</div>
</div>
</div>

<script language="javascript">
    $(document).ready(function() {
     
     var roleUserId = '{{ roleUserId }}';

     if(roleUserId == 2 ) {

      $('#utilisateurs_userbundle_users_roleid')
        .find('option')
        .remove()
        .end()
        .append('<option value="2">Expert</option>')
        .val('2')
      ;

     } else if(roleUserId == 3 )  {

      $('#utilisateurs_userbundle_users_roleid')
        .find('option')
        .remove()
        .end()
        .append('<option value="3">Collaborateur</option>')
        .val('3')
      ;

     }

    



    });

    function validFormUsers() {
        var _password = $.trim($('#utilisateurs_userbundle_users_plainPassword_first').val());
        var _password2 = $.trim($('#utilisateurs_userbundle_users_plainPassword_second').val());
        if(_password.length < 6 && _password!='') {
            $("#error_pw").html('Le mot de passe doit contenir au moins six caractères.');
            return false;
        }

        if( _password != _password2) {
            $("#error_pw2").html('Confirmation de mot de passe invalide.');
            return false;
        }

        return true;
    }
</script>

{% endblock %}