{% extends 'base.html.twig' %}
{% block title %} Facnote - En construction {% endblock %}
{% block body %}
<div class="card">
	<div class="card-body">
		<div class="table-responsive">
			<h1>Module en construction</h1>
			<p></p>
		</div>
		</div>
	</div>
</div>
{% endblock %}