{% extends 'base.html.twig' %}
{% block title %} Facnote - Collaborateurs {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>
    <!--Data Tables -->
  <link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>  
   <script src="{{ asset('assets/popper.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script>

{% endblock %}

{% block body %}
<div class="card">
<div class="card-header">
	<div class="row">
	<div class="col-12 col-lg-6">
      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-2" onClick="javascript:goToUrl('{{ path('utilisateurs_user_add') }}');" > <i class="fa fa-plus"></i> <span>AJOUTER</span> </button>

       <!--<button type="button" class="btn btn-outline-danger waves-effect waves-light gui_collaborateur_step-5" onClick="" > <i class="fa fa-trash-o"></i> <span>SUPPRIMER</span> </button>-->

      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-3" onClick="javascript:goToUrl('{{ path('utilisateurs_user_export_pdf') }}');"> <i class="fa fa fa-file-pdf-o"></i> <span>PDF</span> </button>



      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_collaborateur_step-4" onClick="javascript:goToUrl('{{ path('utilisateurs_user_export_csv') }}');"> <i class="fa fa-file-excel-o"></i> <span>EXCEL</span> </button>

  </div>
      
      <div class="col-12 col-lg-6">

      {% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
      <div class="alert alert-success alert-dismissible" role="alert" >
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <div class="alert-icon">
					 <i class="icon-check"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
				    </div>
	   {{ app.session.set('flashMessageUser', '') }}
      </div>
  {% endif %}


    </div>

</div>
</div>
	<div class="card-body">
		<div class="table-responsive">

			{% for flashMessage in app.session.flashbag.get('flashMessage') %}
			    <div class="alert-message">
			              <span><strong>Succès!</strong> {{ flashMessage }} </span>
			    </div>
			{% endfor %}


			<div id="example_wrapper">
			<table id="usersList" width="100%" class="table table-striped table-bordered table-hover gui_collaborateur_step-6" role="grid" aria-describedby="users_info">
			<thead>
			    <tr role="row">
			    	<th style="width: 166px;" class="sorting_asc">Nom</th>
			    	<th style="width: 166px;">Prénom</th>
			    	<th style="width: 166px;">Email</th>
			    	<th style="width: 166px;">Téléphone</th>
			    	<th style="width: 166px;">Role</th>
			    	<th style="width: 166px;">Connexion</th>
			    	<th style="width: 100px;">Active</th>
			    	<th style="width: 100px;">Actions</th>
			</thead>
			<tbody>
				{% if users|length > 0 %}
				{% for u in users %}
			    <tr role="row" class="{% if loop.index is divisible by(2)  %} odd {% else %} even {% endif %}"  >
			        <td class="editable" rel="{{ u.idPersone }}-ent_persone-id-nom-required-text"> {{ u.nom  }}</td>
					<td class="editable" rel="{{ u.idPersone }}-ent_persone-id-prenom-norequired-text"> {{ u.prenom  }}</td>
					<td class="editable" rel="{{ u.idEmail }}-ent_email-id-mail-required-email"> {{ u.email  }}</td>
					<td class="editable" rel="{{ u.idTelephone }}-ent_telephone-id-numero-norequired-text"> {{ u.telephonne  }}</td>
					<td {% if app.session.get('user_role') == 1 %} class="editable" rel="{{ u.id }}-users-id-roleID-required-select-role-nom" {% endif %}
					> {{ u.roleUser  }}</td>
					<td> {{ u.dernierConnexion|date('d/m/Y H:i:s')  }}</td>
					<td align="center"> 
						{% if(u.active=='1') %}
							 <span class="badge gradient-quepal text-white shadow">Oui</span>
			            {% else %}
			            	<span class="badge gradient-bloody text-white shadow">Non</span>
			            {% endif %}
					</td>
					<td align="center">

						<button type="button" class="btn btn-outline-primary waves-effect waves-light m-1 btn_action gui_collaborateur_step-7" onClick="javascript:goToUrl('{{ path('utilisateurs_user_edit', { 'id': u.id } ) }}');" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier"> <i class="fa fa-edit"></i> </button>

						<button type="button" class="btn btn-outline-danger waves-effect waves-light m-1 btn_action gui_collaborateur_step-8" onClick="javascript:confirmDelete('{{ path('utilisateurs_user_delete', { 'id': u.id } ) }}');"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer" > <i class="fa fa-trash-o"  title="Delete" ></i> </button>
					</td>
			    </tr>
			     {% endfor %} 
			     {% else %}
		        <tr>
		            <td colspan="6">
		                No data found !
		            </td>

		        </tr>
		    {% endif %}
			</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
    <script>
     $(document).ready(function() {
     	$('.containerChat').addClass('containerChat chatbox--tray');
     	$('[data-toggle="tooltip"]').tooltip();
      //Default data table
           var langMap = {
        en: {
            path: 'English',
            mods: {
                sLengthMenu:     "Show _MENU_ entries",
            }
        },
        fr: {
            path: 'French',
            mods: {
                sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
            }
        },
        gr: {
            path: 'German',
            mods: {
                sLengthMenu: "_MENU_ Einträge anzeigen"
            }
        }
    };

	function getLanguage() {
	  var lang = 'fr';
	  var result = null;
	  var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
	  $.ajax({
	    async: false,  
	    url: path + langMap[lang].path + '.json',
	    success: function(obj) {
	      result = $.extend({}, obj, langMap[lang].mods)
	    }
	  })
	  return result
	}
var table = $('#usersList').DataTable({
    buttons: [ 'colvis' ],
    order: [0],
    stateSave: true,
    columnDefs: [ { orderable: false, targets: [7] } ],
    language: getLanguage(),
  
});


table.buttons().container().appendTo( '#usersList_filter' );

$("#usersList_filter div").css({"margin-left":"30px", "margin-right":"30px"});
$(".buttons-colvis").html('<i class="fa fa-navicon"></i> COLONNES ');

// add classes guide 
$("#usersList_length").addClass('gui_collaborateur_step-91');
$("#usersList_filter input").addClass('gui_collaborateur_step-92');
$("#usersList_filter div").addClass('gui_collaborateur_step-93');
$("#usersList_paginate ul").addClass('gui_collaborateur_step-94');




} );

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".editable").bind('click',function() {
            getEditable(this, '{{ path('facnote_click_save') }}', '{{ path('facnote_click_select') }}' );
        });
    });
</script>


{% endblock %}


