<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="font-size:16px">
        <table border="0" width="100%" align="center" id="listing">
            <tr style="height: 20px; text-align: center; font-weight: bold; border-bottom: 1px #CCCCCC solid;border-left: 1px #CCCCCC solid; background: #E6E6E6;">
                <td>NOM</td>
                <td>PRENOM</td>
                <td>EMAIL</td>
                <td>TELEPHONE</td>
                <td>ROLE</td>
                <td>ACTIVE</td>
            </tr>
            {% for item in users %}
                <tr style="border-bottom: 1px #CCC solid; vertical-align: top; {% if loop.index is divisible by(2)  %} background-color: #FFFFFF; {% else %} background-color: #F5F5F5;  {% endif %}">
                    <td>{{ item.nom }}</td>
                    <td>{{ item.prenom }}</td>
                    <td>{{ item.email }}</td>
                    <td align="center">{{ item.telephonne }}</td>
                    <td align="center">{{ item.roleUser }}</td>
                    <td align="center">
                        {% if item.active == 1 %}
                            OUI
                        {% else %}
                            NON
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>