{% extends 'base.html.twig' %}

{% block title %}Configuration société{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!--Data Tables -->
  <link href="{{ asset('assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}    
  <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="card">
<div class="card-body">
{% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
<div class="alert alert-success alert-dismissible" role="alert" >
      <button type="button" class="close" data-dismiss="alert">×</button>
      <div class="alert-icon">
     <i class="icon-check"></i>
      </div>
      <div class="alert-message">
        <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
      </div>
{{ app.session.set('flashMessageUser', '') }}
</div>
{% endif %}
{% if app.session.get('flashMessageUserError') is defined and app.session.get('flashMessageUserError') != '' %}
<div class="alert alert-danger alert-dismissible" role="alert">
 <button type="button" class="close" data-dismiss="alert">×</button>
  <div class="alert-icon"><i class="icon-close"></i></div>
  <div class="alert-message">
    <span><strong>Erreur!</strong> {{ app.session.get('flashMessageUserError') }}</span>
    {{ app.session.set('flashMessageUserError', '') }}
  </div>
</div>
{% endif %}
<ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
    <li class="nav-item">
        <a href="javascript:void();" data-target="#infos" data-toggle="pill" class="nav-link active show">
          <i class="fa fa-briefcase"></i> <span class="hidden-xs">Infos</span></a>
    </li>

    <li class="nav-item">
        <a href="javascript:void();" data-target="#adresses" data-toggle="pill" class="nav-link">
          <i class="fa fa-address-card-o"></i> <span class="hidden-xs">Adresses</span></a>
    </li>

    <li class="nav-item">
        <a href="javascript:void();" data-target="#banques" data-toggle="pill" class="nav-link">
          <i class="fa fa-bank"></i> <span class="hidden-xs">Banques</span></a>
    </li>

    <li class="nav-item">
        <a href="javascript:void();" data-target="#config" data-toggle="pill" class="nav-link">
          <i class="fa fa-cog"></i> <span class="hidden-xs">Configuration</span></a>
    </li>

</ul>

<form id="collaborateur-form" method="post" action="" onsubmit="return validFormSociete();" enctype="multipart/form-data">
<div class="tab-content p-3">

<!-- INFOS -->
<div class="tab-pane active show" id="infos">
      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.type) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.type) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.idStatut) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.idStatut) }}</div>
        </div>
      </div>
      <div class="row" id="societe_physique">
        <div class="col-sm-6">
          {{ form_label(form.raisonSocial) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.raisonSocial) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.responsable) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.responsable) }}</div>
        </div>
      </div>
      <div class="row" id="societe_moral">
        <div class="col-sm-6">
          {{ form_label(form.siren) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.siren) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.numeroTva) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.numeroTva) }}</div>
        </div>
      </div>
      <div class="row" id="societe_moral">
        <div class="col-sm-6">
          {{ form_label(form.codeApe) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.codeApe) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.idSecteur) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.idSecteur) }}</div>
        </div>
      </div>
      <div class="row" id="societe_moral">
        <div class="col-sm-6">
          {{ form_label(form.emailContact) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.emailContact) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.fixe) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.fixe) }}</div>
        </div>
      </div>
      <div class="row" id="societe_moral">
        <div class="col-sm-6">
          {{ form_label(form.siret) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.siret) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.fax) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.fax) }}</div>
        </div>
      </div>
      <div class="row" id="societe_moral">
        <div class="col-sm-6">
          {{ form_label(form.capital) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.capital) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.rcs) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.rcs) }}</div>
        </div>
      </div>
       <div class="row" id="societe_moral">
        <div class="col-sm-6">
          {{ form_label(form.siteWeb) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.siteWeb) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.numeroAgrementFormateur) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.numeroAgrementFormateur) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.logo1) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.logo1) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.logo2) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.logo2) }}</div>
        </div>
      </div>
      {% if logo1_url != '' or logo2_url != ''  %}
        <br>
        <div class="row" >
          <div class="col-sm-6">
            {% if logo1_url != '' %}
            {% set url_logo1 = 'upload/' ~ appBase ~ '/logos/' ~ logo1_url %}
            <img src="{{ asset(url_logo1) }}" width="150" height="100" />
            <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1 btn_action" onclick="javascript:confirmDelete('{{ path('crm_societe_logo_delete',{'id' : societeId, 'idLogo': 1 }) }}');" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer la photo"> <i class="fa fa-trash-o" title="Delete"></i> </button>
            {% endif %}
          </div>
          <div class="col-sm-6">
            {% if logo2_url != ''  %}
             {% set url_logo2 = 'upload/' ~ appBase ~ '/logos/' ~ logo2_url %}
            <img src="{{ asset(url_logo2) }}" width="150" height="100" />
            <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1 btn_action" onclick="javascript:confirmDelete('{{ path('crm_societe_logo_delete',{'id' : societeId, 'idLogo': 2 }) }}');" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer la photo"> <i class="fa fa-trash-o" title="Delete"></i> </button>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <br>
  </div>
<!-- FIN INFOS -->

<!-- ADRESSES -->
<div class="tab-pane" id="adresses">  
  <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Siege</label>
              <div class="col-lg-9">
                  <input class="form-control" name="adresseSiege" value="{{ infosSociete.adresseSiege }}" placeholder="Adresse" type="text">
              </div>
          </div>

          <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-6">
                  <input class="form-control" name="villeSiege" value="{{ infosSociete.villeSiege }}" placeholder="Ville"   type="text">
              </div>
              <div class="col-lg-3">
                  <input class="form-control" name="codePostaleSiege" value="{{ infosSociete.codePostaleSiege }}" placeholder="Code postale" type="text">
              </div>
          </div>

          <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Pays</label>
              <div class="col-lg-9">
                  <select name="paysSiege" id="paysSiege" class="form-control">
                    {% for p in pays %}
                      <option value="{{ p.id }}" {% if p.id == infosSociete.paysSiege  %} selected="selected" {% endif %} >{{ p.pays }}</option>
                    {% endfor %}
                  </select>
              </div>
          </div>
         <div class="form-group col-12">
          <div class="icheck-primary row">
                       <input id="user-checkbox" checked="" type="checkbox" onclick="checkAdress(this.checked)">
                       <label for="user-checkbox">L'adresse de facturation est la même que celle de siége</label>
               </div>
          </div>
        </div>
        <div class="col-sm-6" id="adresse_livraison" style="display:none">
          <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Facturation</label>
              <div class="col-lg-9">
                  <input class="form-control" name="adresseFact" value="{{ infosSociete.adresseFact }}" placeholder="Adresse" type="text">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-6">
                  <input class="form-control" name="villeFact" value="{{ infosSociete.villeFact }}" placeholder="Ville" type="text">
              </div>
              <div class="col-lg-3">
                  <input class="form-control" name="codePostaleFact" value="{{ infosSociete.codePostaleFact }}" placeholder="Code postale" type="text">
              </div>
          </div>

          <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Pays</label>
              <div class="col-lg-9">
                  <select name="paysLivraison" id="paysLivraison" class="form-control">
                    {% for p in pays %}
                      <option value="{{ p.id }}" {% if p.id == infosSociete.paysFact  %} selected="selected" {% endif %}>{{ p.pays }}</option>
                    {% endfor %}
                  </select>
              </div>
          </div>
        </div>
  </div>
</div>
<!-- FIN ADRESSES -->

                

<!-- BANQUES --> 
<div class="tab-pane" id="banques">
  <div class="row">
      <table class="table"   id="table_banques" {% if banquesSociete|length > 0  %} style="display:" {% else  %} style="display:none" {% endif %} >
        <thead>
        <tr class="heading">
          <th>&nbsp;</th>
          <th>Banque</th>
          <th>IBAN</th>
          <th>BIC</th>
        </tr>
        </thead>
        <tbody>
          {% set cmpt_banque = 1 %}
          {% if editMod == 1 %}
          {% for b in banquesSociete %}
        <tr id="row-banque-{{ cmpt_banque }}">
           <td><button type="button" class="btn btn-danger btn-sm" onclick="delete_row_banque({{ cmpt_banque }});"><span class="fa fa-trash"></span></button></td>
           <td><input class="form-control" value="{{ b.banque }}" name="banques[{{ cmpt_banque }}][nom]" placeholder="Banque" required="required"  type="text"></td>
           <td><input class="form-control" value="{{ b.iban }}" name="banques[{{ cmpt_banque }}][iban]" placeholder="IBAN" required="required" type="text"></td>
           <td><input class="form-control" value="{{ b.bic }}" name="banques[{{ cmpt_banque }}][bic]" placeholder="BIC" required="required" type="text"></td>
        </tr>
        {% set cmpt_banque = cmpt_banque + 1 %}
        {% endfor %}
        {% endif %} 
        </tbody>
        </table>
         <input type="hidden" name="orderBanque" id="orderBanque" value="{{ cmpt_banque }}">
         <button id="btn-add-banque" type="button" class="btn btn-sm btn-primary" onclick="add_row_banque()"><span class="fa fa-plus"></span> Ajouter une banque</button>
  </div>
</div>
<!-- FIN BANQUES --> 


<!-- CONFIGURATION --> 
<div class="tab-pane" id="config">

  <div class="row">
    <div class="col-sm-6">
      <label for="prefix_reference_facture"> Préfix référence facture </label>
       <div class="input-group bootstrap-touchspin"> <input type="text" name="prefix_reference_facture" id="prefix_reference_facture" value="{{ parametres.prefix_reference_facture }}" class="form-control"> </div>
    </div>

    <div class="col-sm-6">
       <label for="prefix_depart_reference_facture"> Index départ référence facture </label>
       <div class="input-group bootstrap-touchspin"> <input type="text" name="prefix_depart_reference_facture" id="prefix_depart_reference_facture" value="{{ parametres.prefix_depart_reference_facture }}" class="form-control"> </div>
    </div>

    <div class="col-sm-6">
      <label for="debut_exercice"> Début exercice </label>
       <div class="input-group bootstrap-touchspin"> <input type="text" name="debut_exercice" id="debut_exercice" value="{{ parametres.debut_exercice|date('d/m/Y') }}" class="form-control datePicker"> </div>
    </div>

    <div class="col-sm-6">
       <label for="fin_exercice"> Fin exercice </label>
       <div class="input-group bootstrap-touchspin"> <input type="text" name="fin_exercice" id="fin_exercice" value="{{ parametres.fin_exercice|date('d/m/Y') }}" class="form-control datePicker"> </div>
    </div>


    <div class="col-sm-6">
      <label for="journal_achats"> Journal d'achat *</label>
       <div class="input-group bootstrap-touchspin"> <input type="text" required="required" name="journal_achats" id="journal_achats" value="{{ parametres.journal_achats }}" class="form-control"> </div>
    </div>

    <div class="col-sm-6">
       <label for="journal_ventes"> Journal de vente *</label>
       <div class="input-group bootstrap-touchspin"> <input type="text" required="required" name="journal_ventes" id="journal_ventes" value="{{ parametres.journal_ventes }}" class="form-control"> </div>
    </div>

    <div class="col-sm-6">
      <label for="compta_tresoInput"> Mode comptabilité </label>
       <div class="input-group bootstrap-touchspin"> 
        <select name="compta_treso" id="compta_tresoInput" placeholder="Selectionner" class="form-control"> 
          <option value="0" selected="selected">Comptabilité d'engagement</option> 
          <option value="2">Comptabilité de trésorerie</option>
        </select>
       </div>
    </div>

    <div class="col-sm-6">
       <label> Régime TVA </label>
       <div class="input-group bootstrap-touchspin">

        <select name="regimetva" id="regimetvaInput" placeholder="Selectionner" class="form-control"> 
          <option value="ST">Régime simplifiée</option> 
          <option value="EM">Régime réel normal mensuel</option> 
          <option value="RM">Régime mini-réel mensuel</option> 
          <option value="ET">Régime réel normal trimestriel</option> 
          <option value="RT">Régime mini-réel trimestriel</option> 
          <option value="FB">Non assujetti à la TVA</option>
        </select>

       </div>
    </div>



  </div>

</div>
<!-- FIN CONFIGURATION --> 


</div>
<input type="hidden" name="idSocieteEnt" value="{{ infosSociete.idSocieteEnt }}">
<input type="hidden" name="idPersone" value="{{ infosSociete.idPersone }}">
<input type="hidden" name="idEmail" value="{{ infosSociete.idEmail }}">
<input type="hidden" name="idPhone" value="{{ infosSociete.idPhone }}">
<input type="hidden" name="idFax" value="{{ infosSociete.idFax }}">
<input type="hidden" name="idAdresseSiege" value="{{ infosSociete.idAdresseSiege }}">
<input type="hidden" name="idAdresseFacturation" value="{{ infosSociete.idAdresseFacturation }}">
<div class="form-footer" align="center">
  <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ENREGISTRER</button>
</div>
{{ form_rest(form) }}
      
</form>
</div>
</div>

<script language="javascript">
   $(document).ready(function() { 
    $("#crm_societebundle_societe_idStatut").val('{{ infosSociete.idStatut }}');
    $("#crm_societebundle_societe_idSecteur").val('{{ infosSociete.idSecteur }}');

    $("#compta_tresoInput").val('{{ parametres.compta_treso }}');
    $("#regimetvaInput").val('{{ parametres.regime_tva }}');

      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
        daysShort: ["Dim.", "Lun.", "Mar.", "Mer.", "Jeu.", "Ven.", "Sam."],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Janv.", "Févr.", "Mars", "Avril", "Mai", "Juin", "Juil.", "Août", "Sept.", "Oct.", "Nov.", "Déc."],
        today: "Aujourd'hui",
        monthsTitle: "Mois",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
        

    $('#debut_exercice').datepicker({
        language: 'fr'
      });

    $('#fin_exercice').datepicker({
        language: 'fr'
      });



    });

   function add_row_contact(){
    $('#table_contacts').show();
    var order_contact = $("#orderContact").val();
    var line_contact = '<tr id="row-contact-'+order_contact+'"><td><button type="button" class="btn btn-danger btn-sm" onclick="delete_row_contact('+order_contact+');"><span class="fa fa-trash"></span></button></td><td><select class="form-control" name="contacts['+order_contact+'][title]"><option value="M">M</option><option value="Mme">Mme</option></select></td><td><input class="form-control" name="contacts['+order_contact+'][firstname]" placeholder="Prénom" required="" type="text"></td><td><input class="form-control" name="contacts['+order_contact+'][lastname]" placeholder="Nom" required="" type="text"></td><td><input class="form-control" name="contacts['+order_contact+'][email]" placeholder="Email" type="email"></td><td><input class="form-control" name="contacts['+order_contact+'][phone]" placeholder="Fixe" type="text"></td><td><input class="form-control" name="contacts['+order_contact+'][mobile]" placeholder="Mobile" type="text"></td></tr>';

    $('#table_contacts tr:last').after(line_contact);
    var new_order_contact = eval(order_contact)+1;
    $("#orderContact").val(new_order_contact);

   }

   function delete_row_contact(id){
    $("#row-contact-"+id).remove();
   }

   function add_row_banque(){
    $('#table_banques').show();
    var order_banque = $("#orderBanque").val();
    var line_banque = '<tr id="row-banque-'+order_banque+'"><td><button type="button" class="btn btn-danger btn-sm" onclick="delete_row_banque('+order_banque+');"><span class="fa fa-trash"></span></button></td><td><input class="form-control" name="banques['+order_banque+'][nom]" placeholder="Banque" required="" type="text"></td><td><input class="form-control" name="banques['+order_banque+'][iban]" placeholder="IBAN" required="" type="text"></td><td><input class="form-control" name="banques['+order_banque+'][bic]" placeholder="BIC" type="text"></td></tr>';

    $('#table_banques tr:last').after(line_banque);
    var new_order_banque = eval(order_banque)+1;
    $("#orderContact").val(new_order_banque);

   }

   function delete_row_banque(id){
    $("#row-banque-"+id).remove();
   }

   function checkAdress(val){
     if(val){
      $("#adresse_livraison").hide();
     } else {
      $("#adresse_livraison").show();
     }
   }

   function validFormSociete(){
    return true;
   }
</script>

{% endblock %}