
<select id="tmpCurrentID" name="{{ nameSelect }}" onchange="setValue(this, '{{ path('facnote_click_save') }}', '{{ entity }}', '{{ key }}' , '{{ field }}',  '{{ objID }}', 'select','{{ path('facnote_click_select') }}')" >

	<option value="" > -- </option>

	{% if tableSelect == 'taux_tva' %}
	<option value="0">0%</option>
	<option value="2.10">2.10%</option>
	<option value="5.50">5.50%</option>
	<option value="8.50">8.50%</option>
	<option value="10.00">10.00%</option>
	<option value="20.00">20.00%</option>

	{% elseif tableSelect == 'unite' %}

	<option value="Année">Année</option>
	<option value="Gramme">Gramme</option>
	<option value="Heure">Heure</option>
	<option value="Image">Image</option>
	<option value="Jour">Jour</option>
	<option value="Kilogramme">Kilogramme</option>
	<option value="Kilomètre">Kilomètre</option>
	<option value="Litre">Litre</option>
	<option value="Lot">Lot</option>
	<option value="Mètre">Mètre</option>
	<option value="Mètre carré">Mètre carré</option>
	<option value="Mètre cube">Mètre cube</option>
	<option value="Mètre linéaire">Mètre linéaire</option>
	<option value="Minute">Minute</option>
	<option value="Mois">Mois</option>
	<option value="Personne">Personne</option>
	<option value="Seconde">Seconde</option>
	<option value="Tonne">Tonne</option>
	<option value="Unité">Unité</option>

	{% else %}

	{% for item in elements %}
	<option value="{{ item.id }}" {% if key == item.id %} selected="selected" {% endif %}> {{ item.value }} </option>
	{% endfor %}
	{% endif %}
</select>