<html>
	<body>
		<p>
        	Bonjour,<br /><br />
        	un nouveau ticket viens d'être ouvert.<br /><br />
        	Cordialement,<br />
        	Equipe technique - Facnote France<br />
        </p>
    </body>
</html>