<html>
	<body>
		<p>
        	Bonjour,<br /><br />
        	Votre ticket a été résolu : <a href="{{ responsePath }}">{{ responsePath }}</a><br /><br />

        	Cordialement,<br />
        	Equipe technique - Facnote France<br />
        </p>
    </body>
</html>
