{% extends 'base.html.twig' %}
{% block title %} Facnote - Clients {% endblock %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('bundles/ticket/css/ticket.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block javascripts %}
    {{ parent() }}  


  <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>  
  <script src="{{ asset('assets/popper.min.js') }}"></script>
  
{% endblock %}
{% block body %}
<div class="card">

  <div class="centerBym">
    {% set url_photo = 'upload/' ~ theBase ~ '/tickets/' ~ photoPath %}
    {% if fichier is defined and (extension == 'jpg' or extension == 'jpeg' or extension == 'png' )  %}
    <img src="{{ asset(url_photo) }}" class="fichierUploaded" />
    {% elseif extension == 'pdf' %}
      <div class="pdfIframe">
        <iframe id="pdfIframe" class="fichierUploaded" src="{{ asset(url_photo) }}"></iframe>
      </div>
    {% elseif extension == 'zip' or extension == 'rar' or extension == 'doc' or extension == 'docx' or extension == 'csv' or extension == 'xls' or extension == 'xlsx' %}
    <p>Votre téléchargement va commencer...</p>
  
    <iframe id="my_iframe" style="display:none;" src="{{ asset(url_photo) }}"></iframe>
  {% elseif  extension == 'txt' %}  
    <a href="{{ asset(url_photo) }}" class="btn btn-success  btn-round waves-effect waves-light m-1"> Cliquer ici pour accéder à la piece jointe</a>
  {% else %}
    <p class="fichNoTrouve btn btn-warning  btn-round waves-effect waves-light m-1">Aucun fichier trouvé</p> 
  {% endif %}
   </div>
</div>


{% endblock %}


