{% extends 'base.html.twig' %}
{% block title %} Facnote - Ticket {% endblock %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('bundles/ticket/css/ticket.css') }}" rel="stylesheet" type="text/css">

      {# to show a calander #}
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/plugins/dropzone/css/dropzone.css') }}" rel="stylesheet" type="text/css">
<style>
/** CACHER PAGINATION **/
	#ticketList_paginate{
		display: none;
	}
	#ticketList_wrapper{
		overflow-y: -webkit-paged-y;
	}
</style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}  
{# to show a calander #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script>
<script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>  
<script src="{{ asset('assets/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/nicedit/js/nicEdit.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/date-fr-sort.js') }}"></script>
<!-- Dropzone JS  -->
<script src="{{ asset('assets/plugins/dropzone/js/dropzone.js') }}"></script>
 <script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas(); });
  </script>
{% endblock %}
{% block body %}

    <div class="">
    {% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
      <div class="alert alert-success alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="alert-icon">
           <i class="icon-check"></i>
            </div>
            <div class="alert-message">
              <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
            </div>
     {{ app.session.set('flashMessageUser', '') }}
      </div>
    {% endif %}

 {% if app.session.get('flashMessageUserError') is defined and app.session.get('flashMessageUserError') != '' %}
  <div class="alert alert-danger alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="alert-icon"><i class="icon-close"></i></div>
    <div class="alert-message">
      <span><strong>Erreur!</strong> {{ app.session.get('flashMessageUserError') }}</span>
      {{ app.session.set('flashMessageUserError', '') }}
    </div>
  </div>
  {% endif %}
  {% if app.session.get('flashMessageUserNew') is defined and app.session.get('flashMessageUserNew') != '' %}
  <div class="alert alert-info alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="alert-icon"><i class="icon-info"></i></div>
    <div class="alert-message">
      <span><strong>Info!</strong> {{ app.session.get('flashMessageUserNew') }}</span>
      {{ app.session.set('flashMessageUserNew', '') }}
    </div>
  </div>
  {% endif %}
    </div>
<div class="card">
<div class="card-header">
  <div class="row buttonsT1">
    
   {% if app.session.get('user_role') == '1' %}
    <div  id="compteGeneral" class="dropdown theColonnesDropdown">
      <button id="compteGenBut" type="button" class="theColonnes dropdown-toggle" data-toggle="dropdown"><i class="fa fa-navicon"> </i>Status</button>
        <div class="dropdown-menu">
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'tous' }) }}');" class="dropdown-item {% if app.request.get('status') == 'tous'   %} active {% endif %}" id="compteGenralTous">Tous  </a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'ouvert' }) }}');" class="dropdown-item {% if app.request.get('status') == 'ouvert' %} active {% endif %}" id="compteGenralOuvert">Ouvert</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'regle' }) }}');" class="dropdown-item {% if app.request.get('status') == 'regle' %} active {% endif %}" id="compteGenralRegle">Reglé</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'attenteClient' }) }}');" class="dropdown-item {% if app.request.get('status') == 'attenteClient' %} active {% endif %}" id="compteGenralAttenteClient">Attente Client</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'attenteAdmin' }) }}');" class="dropdown-item {% if app.request.get('status') == 'attenteAdmin' %} active {% endif %}" id="compteGenralAttenteAdmin">Attente Admin</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'urgent' }) }}');" class="dropdown-item {% if app.request.get('status') == 'urgent' %} active {% endif %}" id="compteGenralUrgent">Urgent</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'sansRegle' }) }}');" class="dropdown-item {% if app.request.get('status') == '' or app.request.get('status') == 'sansRegle' %} active {% endif %}" id="compteGenralsansRegle">Tous sauf Réglé</a>
        </div>
    </div>
      
    <div>
      <input type="hidden" name="type_user" id="type_user" value="tousUsers">
      <button id="typeOptionChanged" type="button" class="theColonnes dropdown-toggle" data-toggle="dropdown"><i class="fa fa-navicon"> </i> <span>Filtre users</span></button>
      <div class="dropdown-menu">
        <span class="dropdown-item type_user" data-type="tousUsers" data-type-nom="Tous les Utilisateurs"  id="tousUsers">Tous les Utilisateurs</span>
        <span class="dropdown-item type_user" data-type="nonSupport" data-type-nom="Tous sauf Support"  id="nonSupport">Tous sauf Support</span>
        <span class="dropdown-item type_user" data-type="support" data-type-nom="Support"  id="support">Support</span>
      </div>
    </div>
  {% endif %}
    <div class="buttonsTicket"></div>
    
    {# {% if app.session.get('userConnect').roleID != 1 %} #}
  <button onClick="javascript:goToUrl('{{ path('support_ticket_homepage') }}');" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i> Ouvrir Ticket</button>
  {# {% endif %} #}

  {% if listMessages is defined and listMessages is not empty %}
    {% if listMessages[0].ticketId.status != 'regle' %}
      <div class="regle">
        <button onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': app.request.get('status')=='' ? 'tous' :  app.request.get('status'), 'id': app.request.get('id'),'idTicket': app.request.get('idTicket'),'regle': 'regle' }) }}');" id="compteGenBut" type="button" class="theColonnes"> Réglé</button>
      </div>
    {% endif %}
    {% if listMessages[0].ticketId.status != 'regle' %}
      <div class="urgent">
        <button onClick="javascript:goToUrl('{{ path('support_ticket_arguments', {'status': app.request.get('status')=='' ? 'tous' :  app.request.get('status'), 'id': app.request.get('id'),'idTicket': app.request.get('idTicket'),'regle': 'urgent' }) }}');" id="compteGenBut" type="button" class="theColonnes"> Urgent</button>
      </div>
    {% endif %}
  {% endif %}
    {% if app.session.get('userConnect').roleID == 1 and listMessages is defined and listMessages is not empty%}
    <form action="" method="post" id="formDateLivrai">
      <input type="text" class="datePicker" id="datelivraison" placeholder="Date Livraison" name="dateLivraison" />
      <button type="submit" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
  </form>
  {% endif %}
    {% if app.session.get('userConnect').roleID == 1 and listMessages is defined and listMessages is not empty%}
    <form action="" method="post" id="formmiseEnDev">
      <input type="text" class="datePicker" id="datelivraison" placeholder="Mise En Dev" name="miseEnDev" />
      <button type="submit" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
  </form>
  {% endif %}
    {% if app.session.get('userConnect').roleID == 1 and listMessages is defined and listMessages is not empty%}
    <form action="" method="post" id="formmiseEnProd">
      <input type="text" class="datePicker" id="datelivraison" placeholder="Mise En Prod" name="miseEnProd" />
      <button type="submit" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
  </form>
  {% endif %}
        {% if UserByRole is defined and app.session.get('userConnect').roleID == 1 and app.request.get('id') is not empty %}
         <form action="" method="post" id="">
          <select name="changeAdminCharge" class="selectAdmin form-control">
          {% for item in UserByRole %}
            <option class="optionChangeAdmin" value="{{ item.id }}">{{ item.idPersone.nom }}</option>
          {% endfor %} 
          </select>
          <button type="submit" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
        </form>
        {% endif %}
</div>

</div>
  <div class="row mainT1T2" id="mainT1T2">
        <div class="table1" id="table1">
            <div class="card">
                <div class="card-body">
           
        
        <table id="ticketList" width="100%" class="mainTickets table table-striped table-bordered table-hover" style="font-size:12px">

          <thead>
            <tr>
              <th>date</th>
              <th>Utilisateur</th>
              <th>Sujet</th>
              <th>Admin</th>
              <th width="15%">Dossier</th>
              {% if app.session.get('user_role') == '1' %} <th>Comptables</th> {% endif %}
              <th>Date Livraison</th>
              <!-- <th>status</th> -->
            </tr>
          </thead>
          <tbody>
        {% if listTickets|length > 0 %}
        {% for item in listTickets %}
              <tr
              data-type-user="{{ item.userid.idPersone.nom }}"
              {% if app.request.get('id') is defined and app.request.get('id') == item.userId.id and app.request.get('idTicket') is defined and app.request.get('idTicket') == item.id %}
                id="ticketClicked"
              {% endif %}
              onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': app.request.get('status')=='' ? 'sansRegle' :  app.request.get('status'), 'id': item.userId.id,'idTicket': item.id }) }}');"
              role="row"
              class="clickGetTicket 
                {% if "now"|date('Y-m-d') > item.datelivraison|date('Y-m-d') %}
                 dateExpiredRed 
                {% endif %} 
                {% if loop.index is divisible by(2) %}
                  odd
                {% else %}
                  even
                {% endif %}"
                {% if app.session.get('user_role') == '1' and item.ticketLu == 0 %}
                  style="background-color:#15ca20 !important"
                {% endif %}
              >
                {% if item.LastMessage[0].date is defined and item.LastMessage[0].date is not empty %}
                  <td title="{{ item.date| date("d/m/Y H:i:s") }}" class=""> {{ item.LastMessage[0].date | date("d/m/Y") }}</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                   <td>
                  
                  {{ item.userid.idPersone.nom }}</td>
                  <td title="{{ item.titre }}" class="titreTd"> {{ item.titre }} </td>
                        {% if item.admincharged.idPersone.nom is defined %}
                  <td title="{{ item.admincharged.idPersone.nom }}" class="titreTd"> {{ item.admincharged.idPersone.nom }} </td>
                  {% else %}
                  <td title="" class="titreTd"> </td>
                  {% endif %}
                  <td width="15%">
                    {% if item.base is not null %}
                      <span>{{ item.base }}</span>
                    {# {% else %}
                      <span>{{ app_base }}</span> #}
                    {% endif %}
                  </td>
                  {% if app.session.get('user_role') == '1' %}
                    <td >
                      {% if item.base is not null and comptables[item.base] is defined %}
                        <span {% if comptables[item.base]|length>25 %} data-toggle="tooltip" data-placement="top" data-original-title="{{ comptables[item.base] }}" {% endif %}>
                          {{ comptables[item.base]|slice(0,25) }} {% if comptables[item.base]|length>25 %} ... {% endif %}
                        </span>
                      {% endif %}
                    </td>
                  {% endif %}
                  {% if item.datelivraison is not empty %}
                  <td>
                  {{ item.datelivraison | date("d/m/Y") }}</td>
                  {% else %}
                  <td title="" class="titreTd" align="center">--</td>
                  {% endif %}
                       {# <td> {% if item.status == 'attenteClient' %} 
                        <span class="attenteClient">Attente Client</span>

                        {% elseif item.status == 'attenteAdmin' %} 
                        <span class="attenteAdmin">Attente Admin</span>

                        {% elseif item.status == 'regle' %} 
                        <span class="regle">Réglé</span>

                        {% elseif item.status == 'ouvert' %} 
                        <span class="ouvert">Ouvert</span>

                        {% elseif item.status == 'urgent' %}
                        <span class="urgent">Urgent</span>
                      {% endif %}</td>#}
              </tr>

           {% endfor %} 
           {% else %}

            </tbody>
            <tfoot>
           <tr><td colspan="{% if app.session.get('user_role') == '1' %} 5 {% else %} 4 {% endif %}">Aucun Ticket pour le moment</td></tr></tfoot>
        {% endif %}
      </table>
      
              

                </div>
            </div>
        </div>

        <div class="table2" id="table2">
            <div class="card">
                <div class="card-body">                
        
          {% if formTicket is defined %}

    <form id="myForm" method="post" action="" enctype="multipart/form-data">
      

      <div class="row">
        <div class="col-sm-12">
          <p class="newTicket">Ouvrir Un nouveau Ticket : </p>
          {{ form_label(formTicket.titre) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(formTicket.titre, { 'value': '' }) }}</div>
        </div>

      </div>

      <div class="row" id="client_moral">
        <div class="col-sm-12">
          <P>{{ form_label(formTicket.message.message) }}</P>
           <div class="input-group bootstrap-touchspin"> 
           {{ form_widget(formTicket.message.message, { 'value': '' }) }}</div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-6">
           {{ form_label(formTicket.fichier) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(formTicket.fichier) }}</div>
         </div>
        </div> -->

          <div class="dropzone my-dropzone" id="form_envoi_nouveau_ticket">

            <div class="dz-default dz-message"><span>Sélectionner les fichiers à envoyer</span></div>
            </div>
                   

                  <div class="form-footer2" align="center">
                    <!-- <input type="hidden" id="token_envoi_ticket" name="token_envoi_ticket" value=""> -->
                    <!-- <button type="submit" id="btn_envoi_achats" class="btn btn-success"><i class="fa fa-send"></i> ENVOYER</button> -->
              </div>



{{ form_widget(formTicket._token) }} 

{{ form_row(formTicket._token) }}

      <div class="form-footer" align="center">
          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('support_ticket_arguments') }}');"><i class="fa fa-times"></i> ANNULER</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
      </div>

      
    </form>
  {% endif %}  
{% if TicketInstance is defined and TicketInstance is not empty %}
  <div class="infoTicketCours">
    <p style="display:inline;"> {{ TicketInstance.date| date("d/m/Y H:i:s") }} ||  {{ TicketInstance.titre }} || {% if TicketInstance.status == 'attenteClient' %}
      <span class="attenteClient">Attente Client</span>
      {% elseif TicketInstance.status == 'attenteAdmin' %}
      <span class="attenteAdmin">Attente Admin</span>
      {% elseif TicketInstance.status == 'regle' %}
      <span class="regle">Réglé</span>
      {% elseif TicketInstance.status == 'ouvert' %}
      <span class="ouvert">Ouvert</span>
      {% elseif TicketInstance.status == 'urgent' %}
      <span class="urgent">Urgent</span>
      {% endif %} || 
      {% if listMessages[0].ticketId.status == 'regle' %}
      <div style="display:inline; width:200px;" class="regle">
        <button style="height:35px;" onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': app.request.get('status')=='' ? 'tous' :  app.request.get('status'), 'id': app.request.get('id'),'idTicket': app.request.get('idTicket'),'regle': 'no','regleOpen': 'regleOpen' }) }}');" id="compteGenBut" type="button" class="theColonnes">Réouvrir</button>
      </div>
    {% endif %}
    </p>
  </div>
{% endif %}
          {% if formMessage is defined and listMessages is defined and listMessages is not empty and listMessages[0].ticketId.status != 'regle' %}

<hr>
  <form id="messageBoxForm" method="post" action="" enctype="multipart/form-data">
      

      <div class="row formMessage">
          
           <div class="col-sm-12 bootstrap-touchspin formMessageInput"><p>
           <!-- {{ form_label(formMessage.message)  }}  -->

            {{ form_widget(formMessage.message, { 'value': '' }) }}</p> </div>
          
          
          <div class="dropzone my-dropzone" id="form_envoi_ticket">

            <div class="dz-default dz-message"><span>Sélectionner les fichiers à envoyer</span></div>
            </div>
      </div>

{{ form_widget(formMessage._token) }} 

{{ form_row(formMessage._token) }}

      <div class="form-footer" align="center">
          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('support_ticket_arguments') }}');"><i class="fa fa-times"></i> ANNULER</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
      </div>

      
    </form>
             
{% endif %} 
<hr>   
      <div class="messageBox">
  {% if listMessages is defined and listMessages is not empty %}
  {% for item in listMessages %}

  <div class="alert alert-primary messageItem {% if item.admin == 1 and item.UserResponse.id != app.request.get('id') %}adminMessage {% else %}clientMessage{% endif %}">

  {% set fichiers = item.fichier|split(',') %}
  {% if item.admin == 1 and item.UserResponse.id != app.request.get('id') %} {{ item.UserResponse.idPersone.nom }} || <span class="dateSmall"> {{ item.date| date("d/m/Y H:i:s") }}</span> 
  {% if item.fichier != null %}
    {% for Unfichier in fichiers %}
        <span><a target="_blank" href="{{ path('support_ticket_get_fichier', { 'idFichier': Unfichier }) }}"><i class="fa fa-paperclip fa-lg" aria-hidden="true"></i></a>
        </span>
    {% endfor %}
  {% endif %}
    <br>
  {% else %}
  {{ item.ticketid.userid.idPersone.nom }} || <span class="dateSmall"> {{ item.date| date("d/m/Y H:i:s") }}</span>
  {% if item.fichier != null %}
    {% for Unfichier in fichiers %}
      <span><a target="_blank" href="{{ path('support_ticket_get_fichier', { 'idFichier': Unfichier }) }}"><i class="fa fa-paperclip fa-lg" aria-hidden="true"></i></a>
      </span>
    {% endfor %}
  {% endif %}
    <br>
  {% endif %}
  
{# {% autoescape false %}
    
  {{ item.message }} 
{% endautoescape %} 
#}

  {{ item.message|raw }} 
  </div>


     {% endfor %} 
  {% endif %} 

  </div>


                </div>
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript">
Dropzone.autoDiscover = false;
$(document).ready(function() {

  var size_list = {{ listTickets|length }}
		console.log("nb de lignes : "+size_list);
		//get height dataTable
		if(size_list > 0){
			var measure = $('#ticketList'),
					windowHeight = $(window).height(),
					scrollDistance = $(window).scrollTop(),
					divOffsetTop = measure.offset().top,
					delta = Math.abs(divOffsetTop - (scrollDistance + windowHeight)) - 120;
			delta = delta + 'px';
				// console.log(divOffsetTop + " - " + scrollDistance +  " - " + windowHeight + " - " + delta);
				// alert(divOffsetTop + " - " + scrollDistance +  " - " + windowHeight + " - " + delta);


		}
		else{

			delta =  '20px';
		}


if (document.getElementById('form_envoi_ticket')) {
//je récupère l'action où sera traité l'upload en PHP
var _actionToDropZone ="{{ path('support_ticket_add_fichier') }}";
$("#btn_envoi_achats").attr("disabled", "disabled");
//je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
var myDropzone = new Dropzone("#form_envoi_ticket", 
  { url: _actionToDropZone,
    addRemoveLinks: false,
        init: function () {
            this.on("success", function(file, response) { 
              var input=document.createElement('input');
              input.className="token_envoi_ticket";
              input.type="hidden";
              input.name="token_envoi_ticket[]";
              input.value=response;
              $(".form-footer").append(input);
              // $("#token_envoi_ticket").val(response);
              console.log($(".token_envoi_ticket"));
              $("#btn_envoi_achats").removeAttr("disabled");
            });
        }
  });
}
if (document.getElementById('form_envoi_nouveau_ticket')) {
//je récupère l'action où sera traité l'upload en PHP
var _actionToDropZone1 ="{{ path('support_ticket_add_fichier') }}";
$("#btn_envoi_achats").attr("disabled", "disabled");
//je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
var myDropzone2 = new Dropzone("#form_envoi_nouveau_ticket", 
  { url: _actionToDropZone1,
    addRemoveLinks: false,
        init: function () {
            this.on("success", function(file, response) { 
              var input=document.createElement('input');
              input.className="token_envoi_nouveau_ticket";
              input.type="hidden";
              input.name="token_envoi_nouveau_ticket[]";
              input.value=response;
              $(".form-footer2").append(input);
              // $("#token_envoi_nouveau_ticket").val(response);
              console.log($(".token_envoi_nouveau_ticket"));
              $("#btn_envoi_achats").removeAttr("disabled");
            });
        }
  });

}

//  to show the calander of the input in the the filter table
// document.getElementById("myForm").reset();
// document.getElementById("messageBoxForm").reset();

  var date_input=$('input[class="datePicker"]'); //our date input has the name "date"
  var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
  var options={
    format: 'dd/mm/yyyy',
    container: container,
    todayHighlight: true,
    autoclose: true,
    forceParse: false,
  };
  date_input.datepicker(options);
// END CALANDER

  var langMap = {
    en: {
        path: 'English',
        mods: {
            sLengthMenu:     "Show _MENU_ entries",
        }
    },
    fr: {
        path: 'French',
        mods: {
            sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
        }
    },
    gr: {
        path: 'German',
        mods: {
            sLengthMenu: "_MENU_ Einträge anzeigen"
        }
    }
};

function getLanguage() {
  var lang = 'fr';
  var result = null;
  var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
  $.ajax({
    async: false,  
    url: path + langMap[lang].path + '.json',
    success: function(obj) {
      result = $.extend({}, obj, langMap[lang].mods)
    }
  })
  return result
}

var count_comptables_list="{{ comptables|length }}";
if(count_comptables_list>0)
  date_column=6
else date_column=5


var table = $('#ticketList').DataTable({

    buttons: [ 'colvis' ],
    order: [0],
    // stateSave: true, // to enable you have to remove the table.column( i ).visible( false );
    
    columnDefs: [
       { type: 'date-eu', targets: 0 },
       { type: 'date-eu', targets: date_column  }
    ],
    language: getLanguage(),
    //"pageLength": 10
    scrollY: delta,
    scrollX: true,
    pageLength: size_list,
    "lengthChange": false,
});

// type de users
    $("#type_user").change( function() {
            table.draw();
    });

    $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
        // console.log(data);
        //  console.log(dataIndex);
        var type_search = $("#type_user").val();

        if(type_search == "support"){ //que les utilisateur Support

          // debit
          var dataType = table
              .row(dataIndex)         //get the row to evaluate
              .nodes()                //extract the HTML - node() does not support to$
              .to$()                  //get as jQuery object
              // .find('td[data-label]') //find column with data-label
              .data('type-user');         //get the value of data-label
                if(dataType.toLowerCase().indexOf("support")!=-1){
                  return true;
                }
                else{
                  return false;
                }
          // return dataDebit  == debit_search;
        }
        else if(type_search == "nonSupport"){ //tous sauf les utilisateurs "support"

          // debit
          var dataType = table
              .row(dataIndex)         //get the row to evaluate
              .nodes()                //extract the HTML - node() does not support to$
              .to$()                  //get as jQuery object
              // .find('td[data-label]') //find column with data-label
              .data('type-user');         //get the value of data-label
                if(dataType.toLowerCase().indexOf("support")==-1){
                  return true;
                }
                else{
                  return false;
                }
          // return dataDebit  == debit_search;
        }
        else{
            return true;

        }

      }
    );




var savedlengthPages="{{ savedlengthPages }}";
var savedcurrentPage="{{ savedcurrentPage }}";
var searchTable="{{ searchTable }}";
var laColumn="{{ laColumn }}";
var leTrie="{{ leTrie }}";
var hiddenColumns="{{ hiddenColumns }}";
if (savedlengthPages=='null') { savedlengthPages=10; }
if (savedcurrentPage=='null') { savedcurrentPage=1; }

savedlengthPages=parseInt(savedlengthPages);
savedcurrentPage=parseInt(savedcurrentPage);
savedcurrentPage=savedcurrentPage-1;
//table.page.len(savedlengthPages).draw();
table.search( searchTable ).draw();
table.page(savedcurrentPage).draw( 'page' );

if (laColumn!=='' && leTrie!=='') {
table.order( [ laColumn, leTrie ] ).draw();
}

if (hiddenColumns!=='') {
  hiddenColArr=hiddenColumns.split(",");

  for (var i = 0; i < hiddenColArr.length; i++) {
    
table.column(hiddenColArr[i]).visible( false );
  }
}
$('#ticketList').on( 'length.dt', function ( e, settings, len ) {
    var pageLength= len;
    var currentPage= null;
saveCollones(pageLength,currentPage);
} );
$('#ticketList').on( 'page.dt', function () {
    var info = table.page.info();
    var pageLength= null;
    var currentPage=info.page;
saveCollones(pageLength,currentPage);
} );
table.on( 'search.dt', function () {
    ;
    var searchTable = table.search();
    var pageLength= null;
    var currentPage=null;
saveCollones(pageLength,currentPage,searchTable);
} );
 

$('#ticketList').on( 'column-visibility.dt', function ( e, settings, column, state ) {
    var searchTable = null;
    var pageLength= null;
    var currentPage=null;
    var columnIndex=null;
    var order=null;
saveCollones(pageLength,currentPage,searchTable, columnIndex , order, column, state);
    
} );
$('#ticketList').on( 'order.dt', function () {
    var searchTable = null;
    var pageLength= null;
    var currentPage=null;
    var column= null;
    var state=null;
    var order = table.order();
saveCollones(pageLength,currentPage,searchTable, order[0][0] , order[0][1], column, state);
    // console.log('Ordering on column '+order[0][0]+' ('+order[0][1]+')' );
} );
function saveCollones(pageLength=null,currentPage=null,searchTable=null, columnIndex=null, order=null, column=null, state=null){
var saveCollones_url="{{ path('support_ticket_save_collones') }}";
jQuery.ajax({
    type: "POST",
    url: saveCollones_url,
    data: { pageLength: pageLength, currentPage :currentPage, searchTable :searchTable, columnIndex :columnIndex, order :order, column :column, state :state },
    dataType: 'json',
    'success': function (data) {
        
          console.log('sucessss')


    },
    'error': function () {
        // console.log("error Got columns");
    }
});

}

table.buttons().container().appendTo( '.buttonsTicket' );
$("#ticketList_filter div").css({"margin-left":"30px", "margin-right":"30px"});
$(".buttons-colvis").html('<i class="fa fa-navicon"></i> COLONNES ');
// document.querySelector('.clickGetTicket').addEventListener('click', function(){
  
// table.state.save();
// console.log('rrrzzz')
// }); 



} );

// in order to collapse the aside menu right after the page is loaded
    div=document.querySelector("#wrapper");
if (!div.classList.contains('toggled')) {

        div.classList.add('toggled');
        
}
var table1Width2 = document.getElementById('table2').offsetHeight;
var pageHeight2 = $(window).height();
var difference2=pageHeight2-table1Width2-230;
var result2=table1Width2+difference2;

// document.querySelector('.table2').style.setProperty('height', result2+'px', 'important');
document.querySelector('.table2').style.setProperty('height', result2+'px', 'important');

var mainT1T2 = document.getElementById('mainT1T2').offsetHeight;

document.querySelector('.mainT1T2').style.setProperty('height', pageHeight2-200+'px', 'important');


// to put the status in the button

var compteGenral=document.getElementById('compteGenBut');

// var exerciceTous=document.getElementById('exerciceTous');

// if (exerciceTous.classList.contains('active'))
// {
//   exerciceChangedBut.innerHTML='L\'Exercice';
// }
if (document.getElementById('compteGenralTous').classList.contains('active'))
{
  compteGenral.innerHTML='Tous';
}
if (document.getElementById('compteGenralOuvert').classList.contains('active'))
{
  
  compteGenral.innerHTML='Ouvert';
}
if (document.getElementById('compteGenralRegle').classList.contains('active'))
{
  
  compteGenral.innerHTML='Réglé';
}
if (document.getElementById('compteGenralAttenteClient').classList.contains('active'))
{
  
  compteGenral.innerHTML='Attente Client';
}
if (document.getElementById('compteGenralAttenteAdmin').classList.contains('active'))
{
  
  compteGenral.innerHTML='AttenteAdmin';
}
if (document.getElementById('compteGenralUrgent').classList.contains('active'))
{
  
  compteGenral.innerHTML='Urgent';
}
if (document.getElementById('compteGenralsansRegle').classList.contains('active'))
{
  
  compteGenral.innerHTML='Tous sauf Réglé';
}


$( ".type_user" ).click(function() {
  var type_user = $(this).data("type");
  var type_user_nom = $(this).data("type-nom");
  $(".type_user").removeClass("active");
  $(this).addClass("active");
  // alert( "Val : " + module_cible );
  $( "#typeOptionChanged span" ).html(type_user_nom);

  if (type_user!='tousUsers') {
    $( "#typeOptionChanged" ).addClass('active');
  }
  else
  {
    $( "#typeOptionChanged" ).removeClass('active');
  }
  $( "#type_user" ).val(type_user).triggerHandler('change');
});

  var active_button = $( ".type_user.active" ).data("type-nom");
  $( "#typeOptionChanged span " ).html(active_button);


  var type_user=$( ".type_user.active" ).data("type");
  
  if (type_user!='tousUsers') {
    $( "#typeOptionChanged" ).addClass('active');
  }
  else
  {
    $( "#typeOptionChanged" ).removeClass('active');
  }

  </script>
{% endblock %}


