{% extends 'base.html.twig' %}
{% block title %} Facnote - Clients {% endblock %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('bundles/ticket/css/ticket.css') }}" rel="stylesheet" type="text/css">

      {# to show a calander #}
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/plugins/dropzone/css/dropzone.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block javascripts %}
    {{ parent() }}  
{# to show a calander #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script>
<script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>  
<script src="{{ asset('assets/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/nicedit/js/nicEdit.js') }}"></script>
<!-- Dropzone JS  -->
<script src="{{ asset('assets/plugins/dropzone/js/dropzone.js') }}"></script>
 <script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas(); });
  </script>
{% endblock %}
{% block body %}

    <div class="">
    {% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
      <div class="alert alert-success alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="alert-icon">
           <i class="icon-check"></i>
            </div>
            <div class="alert-message">
              <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
            </div>
     {{ app.session.set('flashMessageUser', '') }}
      </div>
    {% endif %}

 {% if app.session.get('flashMessageUserError') is defined and app.session.get('flashMessageUserError') != '' %}
  <div class="alert alert-danger alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="alert-icon"><i class="icon-close"></i></div>
    <div class="alert-message">
      <span><strong>Erreur!</strong> {{ app.session.get('flashMessageUserError') }}</span>
      {{ app.session.set('flashMessageUserError', '') }}
    </div>
  </div>
  {% endif %}
    </div>
<div class="card">
<div class="card-header">
  <div class="row buttonsT1">
    

    <div  id="compteGeneral" class="dropdown theColonnesDropdown">
      <button id="compteGenBut" type="button" class="theColonnes dropdown-toggle" data-toggle="dropdown"><i class="fa fa-navicon"> </i>Status</button>
        <div class="dropdown-menu">
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'tous' }) }}');" class="dropdown-item {% if app.request.get('status') == 'tous' %} active {% endif %}" id="compteGenralTous">Tous</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'ouvert' }) }}');" class="dropdown-item {% if app.request.get('status') == 'ouvert' %} active {% endif %}" id="compteGenralOuvert">Ouvert</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'regle' }) }}');" class="dropdown-item {% if app.request.get('status') == 'regle' %} active {% endif %}" id="compteGenralRegle">Reglé</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'attenteClient' }) }}');" class="dropdown-item {% if app.request.get('status') == 'attenteClient' %} active {% endif %}" id="compteGenralAttenteClient">Attente Client</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'attenteAdmin' }) }}');" class="dropdown-item {% if app.request.get('status') == 'attenteAdmin' %} active {% endif %}" id="compteGenralAttenteAdmin">Attente Admin</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'urgent' }) }}');" class="dropdown-item {% if app.request.get('status') == 'urgent' %} active {% endif %}" id="compteGenralUrgent">Urgent</a>
          <a onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': 'sansRegle' }) }}');" class="dropdown-item {% if app.request.get('status') == '' or app.request.get('status') == 'sansRegle' %} active {% endif %}" id="compteGenralsansRegle">Tous sauf Réglé</a>
        </div>
    </div>
    <div class="buttonsTicket"></div>
    
    {# {% if app.session.get('userConnect').roleID != 1 %} #}
  <button onClick="javascript:goToUrl('{{ path('support_ticket_homepage') }}');" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i> Ouvrir Ticket</button>
  {# {% endif %} #}

  {% if listMessages is defined and listMessages is not empty %}
    {% if listMessages[0].ticketId.status != 'regle' %}
      <div class="regle">
        <button onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': app.request.get('status')=='' ? 'tous' :  app.request.get('status'), 'id': app.request.get('id'),'idTicket': app.request.get('idTicket'),'regle': 'regle' }) }}');" id="compteGenBut" type="button" class="theColonnes"> Marquer Comme Réglé</button>
      </div>
    {% endif %}
    {% if listMessages[0].ticketId.status != 'regle' %}
      <div class="urgent">
        <button onClick="javascript:goToUrl('{{ path('support_ticket_arguments', {'status': app.request.get('status')=='' ? 'tous' :  app.request.get('status'), 'id': app.request.get('id'),'idTicket': app.request.get('idTicket'),'regle': 'urgent' }) }}');" id="compteGenBut" type="button" class="theColonnes"> Marquer Comme Urgent</button>
      </div>
    {% endif %}
  {% endif %}
    {% if app.session.get('userConnect').roleID == 1 and listMessages is defined and listMessages is not empty%}
    <form action="" method="post" id="formDateLivrai">
      <input type="text" class="datePicker" id="datelivraison" placeholder="Date Livraison" name="dateLivraison" />
      <button type="submit" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
  </form>
  {% endif %}
        {% if UserByRole is defined and app.session.get('userConnect').roleID == 1 and app.request.get('id') is not empty %}
         <form action="" method="post" id="">
          <select name="changeAdminCharge" class="selectAdmin form-control">
          {% for item in UserByRole %}
            <option class="optionChangeAdmin" value="{{ item.id }}">{{ item.idPersone.prenom }}</option>
          {% endfor %} 
          </select>
          <button type="submit" id="compteGenBut" type="button" class="theColonnes"><i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
        </form>
        {% endif %}
</div>

</div>
  <div class="row mainT1T2" id="mainT1T2">
        <div class="table1" id="table1">
            <div class="card">
                <div class="card-body">
           
        
        <table id="ticketList" width="100%" class="mainTickets table table-striped table-bordered table-hover">

          <thead>
            <tr>
              <th>date</th>
              <th>Utilisateur</th>
              <th>Sujet</th>
              <th>Admin</th>
              <th>Dossier</th>
              <th>Date Livraison</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
        {% if listTickets|length > 0 %}
        {% for item in listTickets %}
              <tr {% if app.request.get('id') is defined and app.request.get('id') == item.userId.id and app.request.get('idTicket') is defined and app.request.get('idTicket') == item.id %} id="ticketClicked" {% endif %} onClick="javascript:goToUrl('{{ path('support_ticket_arguments', { 'status': app.request.get('status')=='' ? 'sansRegle' :  app.request.get('status'), 'id': item.userId.id,'idTicket': item.id }) }}');" role="row" class="clickGetTicket {% if "now"|date('Y-m-d') > item.datelivraison|date('Y-m-d') %} dateExpiredRed {% endif %} {% if loop.index is divisible by(2) %} odd {% else %} even {% endif %}"  >
                {% if item.LastMessage[0].date is defined and item.LastMessage[0].date is not empty %}
                  <td title="{{ item.date| date("d-m-Y H:i:s") }}" class=""> {{ item.LastMessage[0].date | date("d-m-Y H:i:s") }}</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                   <td>
                  
                  {{ item.userid.idPersone.prenom }}</td>
                  <td title="{{ item.titre }}" class="titreTd"> {{ item.titre }} </td>
                        {% if item.admincharged.idPersone.prenom is defined %}
                  <td title="{{ item.admincharged.idPersone.prenom }}" class="titreTd"> {{ item.admincharged.idPersone.prenom }} </td>
                  {% else %}
                  <td title="" class="titreTd"> </td>
                  {% endif %}
                  <td>
                  {{ item.userid.base }}</td>
                  {% if item.datelivraison is not empty %}
                  <td>
                  {{ item.datelivraison | date("d-m-Y") }}</td>
                  {% else %}
                  <td title="" class="titreTd" align="center">--</td>
                  {% endif %}
                        <td> {% if item.status == 'attenteClient' %} 
                        <span class="attenteClient">Attente Client</span>

                        {% elseif item.status == 'attenteAdmin' %} 
                        <span class="attenteAdmin">Attente Admin</span>

                        {% elseif item.status == 'regle' %} 
                        <span class="regle">Réglé</span>

                        {% elseif item.status == 'ouvert' %} 
                        <span class="ouvert">Ouvert</span>

                        {% elseif item.status == 'urgent' %}
                        <span class="urgent">Urgent</span>
                      {% endif %}</td>
              </tr>

           {% endfor %} 
           {% else %}

            </tbody>
            <tfoot>
           <tr><td colspan="4">Aucun Ticket pour le moment</td></tr></tfoot>
        {% endif %}
      </table>
      
              

                </div>
            </div>
        </div>

        <div class="table2" id="table2">
            <div class="card">
                <div class="card-body">                
        
          {% if formTicket is defined %}

    <form id="myForm" method="post" action="" enctype="multipart/form-data">
      

      <div class="row">
        <div class="col-sm-12">
          <p class="newTicket">Ouvrir Un nouveau Ticket : </p>
          {{ form_label(formTicket.titre) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(formTicket.titre, { 'value': '' }) }}</div>
        </div>

      </div>

      <div class="row" id="client_moral">
        <div class="col-sm-12">
          <P>{{ form_label(formTicket.message.message) }}</P>
           <div class="input-group bootstrap-touchspin"> 
           {{ form_widget(formTicket.message.message, { 'value': '' }) }}</div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-6">
           {{ form_label(formTicket.fichier) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(formTicket.fichier) }}</div>
         </div>
        </div> -->

          <div class="dropzone my-dropzone" id="form_envoi_nouveau_ticket">

            <div class="dz-default dz-message"><span>Sélectionner les fichiers à envoyer</span></div>
            </div>
                   

                  <div class="form-footer2" align="center">
                    <!-- <input type="hidden" id="token_envoi_ticket" name="token_envoi_ticket" value=""> -->
                    <!-- <button type="submit" id="btn_envoi_achats" class="btn btn-success"><i class="fa fa-send"></i> ENVOYER</button> -->
              </div>



{{ form_widget(formTicket._token) }} 

{{ form_row(formTicket._token) }}

      <div class="form-footer" align="center">
          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('support_ticket_arguments') }}');"><i class="fa fa-times"></i> ANNULER</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
      </div>

      
    </form>
  {% endif %}  
{% if TicketInstance is defined and TicketInstance is not empty %}
  <div class="infoTicketCours">
    <p> {{ TicketInstance.date| date("d-m-Y H:i:s") }} ||  {{ TicketInstance.titre }} || {% if TicketInstance.status == 'attenteClient' %}
      <span class="attenteClient">Attente Client</span>
      {% elseif TicketInstance.status == 'attenteAdmin' %}
      <span class="attenteAdmin">Attente Admin</span>
      {% elseif TicketInstance.status == 'regle' %}
      <span class="regle">Réglé</span>
      {% elseif TicketInstance.status == 'ouvert' %}
      <span class="ouvert">Ouvert</span>
      {% elseif TicketInstance.status == 'urgent' %}
      <span class="urgent">Urgent</span>                      {% endif %}</p>
  </div>
{% endif %}
          {% if formMessage is defined and listMessages is defined and listMessages is not empty and listMessages[0].ticketId.status != 'regle' %}

<hr>
  <form id="messageBoxForm" method="post" action="" enctype="multipart/form-data">
      

      <div class="row formMessage">
          
           <div class="col-sm-12 bootstrap-touchspin formMessageInput"><p>
           <!-- {{ form_label(formMessage.message)  }}  -->

            {{ form_widget(formMessage.message, { 'value': '' }) }}</p> </div>
          
          
          <div class="dropzone my-dropzone" id="form_envoi_ticket">

            <div class="dz-default dz-message"><span>Sélectionner les fichiers à envoyer</span></div>
            </div>
      </div>

{{ form_widget(formMessage._token) }} 

{{ form_row(formMessage._token) }}

      <div class="form-footer" align="center">
          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('support_ticket_arguments') }}');"><i class="fa fa-times"></i> ANNULER</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
      </div>

      
    </form>
             
{% endif %} 
<hr>   
      <div class="messageBox">
        {% if listMessages is defined and listMessages is not empty and dateLivraison != null %}
          <p title="{{ dateLivraison| date("d-m-Y") }}" class=""> Date de livraison est : {{ dateLivraison | date("d-m-Y") }}</p>
          {% endif %}
  {% if listMessages is defined and listMessages is not empty %}
  {% for item in listMessages %}

  <div class="alert alert-primary messageItem {% if item.admin == 1 and item.UserResponse.id != app.request.get('id') %}adminMessage {% else %}clientMessage{% endif %}">

  {% set fichiers = item.fichier|split(',') %}
  {% if item.admin == 1 and item.UserResponse.id != app.request.get('id') %} {{ item.UserResponse.idPersone.prenom }} || <span class="dateSmall"> {{ item.date| date("d-m-Y H:i:s") }}</span> 
  {% if item.fichier != null %}
    {% for Unfichier in fichiers %}
        <span><a target="_blank" href="{{ path('support_ticket_get_fichier', { 'idFichier': Unfichier }) }}"><i class="fa fa-paperclip fa-lg" aria-hidden="true"></i></a>
        </span>
    {% endfor %}
  {% endif %}
    <br>
  {% else %}
  {{ item.ticketid.userid.idPersone.prenom }} || <span class="dateSmall"> {{ item.date| date("d-m-Y H:i:s") }}</span>
  {% if item.fichier != null %}
    {% for Unfichier in fichiers %}
      <span><a target="_blank" href="{{ path('support_ticket_get_fichier', { 'idFichier': Unfichier }) }}"><i class="fa fa-paperclip fa-lg" aria-hidden="true"></i></a>
      </span>
    {% endfor %}
  {% endif %}
    <br>
  {% endif %}
  
{# {% autoescape false %}
    
  {{ item.message }} 
{% endautoescape %} 
#}

  {{ item.message|raw }} 
  </div>


     {% endfor %} 
  {% endif %} 

  </div>


                </div>
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript">
Dropzone.autoDiscover = false;
$(document).ready(function() {


if (document.getElementById('form_envoi_ticket')) {
//je récupère l'action où sera traité l'upload en PHP
var _actionToDropZone ="{{ path('support_ticket_add_fichier') }}";
$("#btn_envoi_achats").attr("disabled", "disabled");
//je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
var myDropzone = new Dropzone("#form_envoi_ticket", 
  { url: _actionToDropZone,
    addRemoveLinks: false,
        init: function () {
            this.on("success", function(file, response) { 
              var input=document.createElement('input');
              input.className="token_envoi_ticket";
              input.type="hidden";
              input.name="token_envoi_ticket[]";
              input.value=response;
              $(".form-footer").append(input);
              // $("#token_envoi_ticket").val(response);
              console.log($(".token_envoi_ticket"));
              $("#btn_envoi_achats").removeAttr("disabled");
            });
        }
  });
}
if (document.getElementById('form_envoi_nouveau_ticket')) {
//je récupère l'action où sera traité l'upload en PHP
var _actionToDropZone1 ="{{ path('support_ticket_add_fichier') }}";
$("#btn_envoi_achats").attr("disabled", "disabled");
//je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
var myDropzone2 = new Dropzone("#form_envoi_nouveau_ticket", 
  { url: _actionToDropZone1,
    addRemoveLinks: false,
        init: function () {
            this.on("success", function(file, response) { 
              var input=document.createElement('input');
              input.className="token_envoi_nouveau_ticket";
              input.type="hidden";
              input.name="token_envoi_nouveau_ticket[]";
              input.value=response;
              $(".form-footer2").append(input);
              // $("#token_envoi_nouveau_ticket").val(response);
              console.log($(".token_envoi_nouveau_ticket"));
              $("#btn_envoi_achats").removeAttr("disabled");
            });
        }
  });

}

//  to show the calander of the input in the the filter table
// document.getElementById("myForm").reset();
// document.getElementById("messageBoxForm").reset();

  var date_input=$('input[class="datePicker"]'); //our date input has the name "date"
  var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
  var options={
    format: 'dd-mm-yyyy',
    container: container,
    todayHighlight: true,
    autoclose: true,
    forceParse: false,
  };
  date_input.datepicker(options);
// END CALANDER

  var langMap = {
    en: {
        path: 'English',
        mods: {
            sLengthMenu:     "Show _MENU_ entries",
        }
    },
    fr: {
        path: 'French',
        mods: {
            sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
        }
    },
    gr: {
        path: 'German',
        mods: {
            sLengthMenu: "_MENU_ Einträge anzeigen"
        }
    }
};

function getLanguage() {
  var lang = 'fr';
  var result = null;
  var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
  $.ajax({
    async: false,  
    url: path + langMap[lang].path + '.json',
    success: function(obj) {
      result = $.extend({}, obj, langMap[lang].mods)
    }
  })
  return result
}

var table = $('#ticketList').DataTable({

    buttons: [ 'colvis' ],
    order: [0],
    stateSave: true,
    columnDefs: [ { orderable: false} ],
    language: getLanguage(),
    "pageLength": 10
});



var savedlengthPages="{{ savedlengthPages }}";
var savedcurrentPage="{{ savedcurrentPage }}";
var searchTable="{{ searchTable }}";
if (savedlengthPages=='null') { savedlengthPages=10; }
if (savedcurrentPage=='null') { savedcurrentPage=1; }

savedlengthPages=parseInt(savedlengthPages);
savedcurrentPage=parseInt(savedcurrentPage);
savedcurrentPage=savedcurrentPage-1;
table.page.len(savedlengthPages).draw();
table.search( searchTable ).draw();
table.page(savedcurrentPage).draw( 'page' );
$('#ticketList').on( 'length.dt', function ( e, settings, len ) {
    var pageLength= len;
    var currentPage= null;
saveCollones(pageLength,currentPage);
} );
$('#ticketList').on( 'page.dt', function () {
    var info = table.page.info();
    var pageLength= null;
    var currentPage=info.page;
saveCollones(pageLength,currentPage);
} );
table.on( 'search.dt', function () {
    ;
    var searchTable = table.search();
    var pageLength= null;
    var currentPage=null;
saveCollones(pageLength,currentPage,searchTable);
} );
function saveCollones(pageLength,currentPage,searchTable){
var saveCollones_url="{{ path('support_ticket_save_collones') }}";
jQuery.ajax({
    type: "POST",
    url: saveCollones_url,
    data: { pageLength: pageLength, currentPage :currentPage, searchTable :searchTable},
    dataType: 'json',
    'success': function (data) {
        
          // console.log('sucessss')


    },
    'error': function () {
        // console.log("error Got columns");
    }
});

}

table.buttons().container().appendTo( '.buttonsTicket' );
$("#ticketList_filter div").css({"margin-left":"30px", "margin-right":"30px"});
$(".buttons-colvis").html('<i class="fa fa-navicon"></i> COLONNES ');
// document.querySelector('.clickGetTicket').addEventListener('click', function(){
  
// table.state.save();
// console.log('rrrzzz')
// }); 



} );

// in order to collapse the aside menu right after the page is loaded
    div=document.querySelector("#wrapper");
if (!div.classList.contains('toggled')) {

        div.classList.add('toggled');
        
}
var table1Width2 = document.getElementById('table2').offsetHeight;
var pageHeight2 = $(window).height();
var difference2=pageHeight2-table1Width2-230;
var result2=table1Width2+difference2;

// document.querySelector('.table2').style.setProperty('height', result2+'px', 'important');
document.querySelector('.table2').style.setProperty('height', result2+'px', 'important');

var mainT1T2 = document.getElementById('mainT1T2').offsetHeight;

document.querySelector('.mainT1T2').style.setProperty('height', pageHeight2-200+'px', 'important');


// to put the status in the button

var compteGenral=document.getElementById('compteGenBut');

// var exerciceTous=document.getElementById('exerciceTous');

// if (exerciceTous.classList.contains('active'))
// {
//   exerciceChangedBut.innerHTML='L\'Exercice';
// }
if (document.getElementById('compteGenralTous').classList.contains('active'))
{
  compteGenral.innerHTML='Tous';
}
if (document.getElementById('compteGenralOuvert').classList.contains('active'))
{
  
  compteGenral.innerHTML='Ouvert';
}
if (document.getElementById('compteGenralRegle').classList.contains('active'))
{
  
  compteGenral.innerHTML='Réglé';
}
if (document.getElementById('compteGenralAttenteClient').classList.contains('active'))
{
  
  compteGenral.innerHTML='Attente Client';
}
if (document.getElementById('compteGenralAttenteAdmin').classList.contains('active'))
{
  
  compteGenral.innerHTML='AttenteAdmin';
}
if (document.getElementById('compteGenralUrgent').classList.contains('active'))
{
  
  compteGenral.innerHTML='Urgent';
}
if (document.getElementById('compteGenralsansRegle').classList.contains('active'))
{
  
  compteGenral.innerHTML='Tous sauf Réglé';
}

  </script>
{% endblock %}


