{% extends 'base.html.twig' %}

{% block title %}Gestion des clients{% endblock %}


{% block body %}<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">
 {% if app.session.get('flashMessageUserError') is defined and app.session.get('flashMessageUserError') != '' %}
  <div class="alert alert-danger alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="alert-icon"><i class="icon-close"></i></div>
    <div class="alert-message">
      <span><strong>Erreur!</strong> {{ app.session.get('flashMessageUserError') }}</span>
      {{ app.session.set('flashMessageUserError', '') }}
    </div>
  </div>
  {% endif %}


    <form id="collaborateur-form" method="post" action="" onsubmit="return validFormClient();">
      <h4 class="form-header text-uppercase">
        <i class="fa fa-address-book-o"></i>
         Client Info
      </h4>

      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.idType) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.idType) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.nom) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.nom) }}</div>
        </div>
      </div>

      <div class="row" id="client_physique">
        <div class="col-sm-6">
          {{ form_label(form.prenom) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.prenom) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.fonction) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.fonction) }}</div>
        </div>
      </div>

      <div class="row" id="client_moral">
        <div class="col-sm-6">
          {{ form_label(form.nomContact) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.nomContact) }}</div>
        </div>
        <div class="col-sm-6">
           {{ form_label(form.responsable) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.responsable) }}</div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.email) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.email) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.fixe) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.fixe) }}</div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.mobile) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.mobile) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.fax) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.fax) }}</div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.numTva) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.numTva) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.siret) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.siret) }}</div>
        </div>
      </div>


      <h4 class="form-header text-uppercase">
        <i class="fa fa-eur"></i>
         Facturation
      </h4>

      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.adresseFacturation) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.adresseFacturation) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.villeFacturation) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.villeFacturation) }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.cpFacturation) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.cpFacturation) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.paysFacturation) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.paysFacturation) }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.autoliquidation) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.autoliquidation) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.idCommercial) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.idCommercial) }}</div>
        </div>
      </div>

     <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.autoliquidationArticle) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.autoliquidationArticle) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.penaliteRetard) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.penaliteRetard) }}</div>
        </div>

      </div>

      <h4 class="form-header text-uppercase">
        <i class="fa fa-shopping-cart"></i>
         Livraison
      </h4>

      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.adresseLivraison) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.adresseLivraison) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.villeLivraison) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.villeLivraison) }}</div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-6">
          {{ form_label(form.cpLivraison) }}
           <div class="input-group bootstrap-touchspin"> {{ form_widget(form.cpLivraison) }}</div>
        </div>
        <div class="col-sm-6">
          {{ form_label(form.paysLivraison) }}
           <div class="input-group bootstrap-touchspin">{{ form_widget(form.paysLivraison) }}</div>
        </div>
      </div>

      <input type="hidden" name="idPersone" value="{{ infosClient.idPersone }}">
      <input type="hidden" name="idEmail" value="{{ infosClient.idEmail }}">
      <input type="hidden" name="idFixe" value="{{ infosClient.idFixe }}">
      <input type="hidden" name="idMobile" value="{{ infosClient.idMobile }}">
      <input type="hidden" name="idAdresseLivraison" value="{{ infosClient.idAdresseLivraison }}">
      <input type="hidden" name="idAdresseFacturation" value="{{ infosClient.idAdresseFacturation }}">



      <div class="form-footer" align="center">
          <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('crm_client_homepage') }}');"><i class="fa fa-times"></i> ANNULER</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</button>
      </div>

      {{ form_rest(form) }}
      
    </form>

</div>
</div>
</div>
</div>

<script language="javascript">

   $(document).ready(function() { 
        
        var id_civilite = $("#crm_clientbundle_client_idType").val();

        if(id_civilite == 1 || id_civilite == 2 | id_civilite == 3 ) {
           $("#client_moral").hide();
           $("#client_physique").show();
        } else {
          $("#client_moral").show();
          $("#client_physique").hide();
        }

        // Autoliquidation default
        var editMod = {{ editMod }}
        if(editMod == 0 ) {
          $("#crm_clientbundle_client_autoliquidation_1").attr('checked', 'checked');
        }


      // Type client change 
      $("#crm_clientbundle_client_idType").change(function() {
        id_civilite = $("#crm_clientbundle_client_idType").val();
        if(id_civilite == 1 || id_civilite == 2 | id_civilite == 3 ) {
           $("#client_moral").hide();
           $("#client_physique").show();
        } else {
          $("#client_moral").show();
          $("#client_physique").hide();
        }
      });
    });

    function validFormClient() {
        return true;
    }
</script>

{% endblock %}