<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="font-size:16px">
        <table border="0" width="100%" align="center" id="listing">
            <tr style="height: 20px; text-align: center; font-weight: bold; border-bottom: 1px #CCCCCC solid;border-left: 1px #CCCCCC solid; background: #E6E6E6;">
                <td>NOM & PRENOM</td>
                <td>CONTACT</td>
                <td>EMAIL</td>
                <td>TELEPHONE</td>
                <td>VILLE</td>
                <td>ADRESSE</td>
            </tr>
            {% for item in clients %}
                <tr style="border-bottom: 1px #CCC solid; vertical-align: top; {% if loop.index is divisibleby(2) %} background-color: #FFFFFF; {% else %} background-color: #F5F5F5;  {% endif %}">
                    <td>{{ item.nom }} {{ item.prenom }}</td>
                    <td>{{ item.nomContact }}</td>
                    <td>{{ item.mail }}</td>
                    <td align="center">{{ item.telephoneFixe }} / {{ item.telephoneMobile }}</td>
                    <td align="center">{{ item.villeFacturation }}</td>
                    <td align="center">{{ item.adresseFacturation }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>