{% extends 'base.html.twig' %}
{% block title %} Facnote - Clients {% endblock %}
{% block stylesheets %}
{{ parent() }}
<!--Data Tables -->
<link href="{{ asset('assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}    
  <script src="{{ asset('js/clickSave.js') }}" type="text/javascript"></script>  
  <script src="{{ asset('assets/popper.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="card">
<div class="card-header">
	<div class="row">
	<div class="col-12 col-lg-6">
      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_client_step-2" onClick="javascript:goToUrl('{{ path('crm_client_add') }}');" > <i class="fa fa-plus"></i> <span>AJOUTER</span> </button>
      <button type="button" class="btn btn-outline-danger waves-effect waves-light gui_client_step-5" onClick="javascript:goToUrl('{{ path('crm_client_delete_all') }}');" > <i class="fa fa-trash-o"></i> <span>SUPPRIMER</span> </button>
      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_client_step-3" onClick="javascript:goToUrl('{{ path('crm_client_export_pdf') }}');"> <i class="fa fa fa-file-pdf-o"></i> <span>PDF</span> </button>
      <button type="button" class="btn btn-outline-primary waves-effect waves-light gui_client_step-4" onClick="javascript:goToUrl('{{ path('crm_client_export_csv') }}');"> <i class="fa fa-file-excel-o"></i> <span>EXCEL</span> </button>
  </div>
      <div class="col-12 col-lg-6">
    {% if app.session.get('flashMessageUser') is defined and app.session.get('flashMessageUser') != '' %}
      <div class="alert alert-success alert-dismissible" role="alert" >
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <div class="alert-icon">
					 <i class="icon-check"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Success!</strong> {{ app.session.get('flashMessageUser') }} </span>
				    </div>
	   {{ app.session.set('flashMessageUser', '') }}
      </div>
    {% endif %}
    </div>

</div>
</div>
	<div class="card-body">
		<div class="table-responsive">
			<div id="example_wrapper">
			<table id="clientsList" width="100%" class="table table-striped table-bordered table-hover gui_client_step-6" role="grid" aria-describedby="clients_info">
			<thead>
			    <tr role="row">
			    	<th width="4%"> <input type="checkbox" id="checkAll" class="input_checkbox" name="checkAll" oncancel="checkAll(this.checked)" value=""></th>
			    	<th style="width: 166px;" class="sorting_asc">Nom </th>
			    	<th style="width: 166px;">Contact</th>
			    	<th style="width: 166px;">Email</th>
			    	<th style="width: 166px;">Tél Bureau</th>
			    	<th style="width: 166px;">Tél Mobile</th>
			    	<th style="width: 166px;">Ville</th>
			    	<th style="width: 100px;">Actions</th>
			</thead>
			<tbody>
				{% if clients|length > 0 %}
				{% for item in clients %}
			    <tr role="row" class="{% if loop.index is divisibleby(2) %} odd {% else %} even {% endif %}"  >
			    	<td width="4%" align="center">
                        <input type="checkbox" class="input_checkbox" name="itemClientListName" id="itemClientList-{{ item.idClient }}" value="{{ item.idClient }}" onclick="checkClient('{{ item.idClient }}',this.checked,'{{ path('crm_client_checked') }}')"  />
                    </td>

			        <td class="editable" rel="{{ item.idPersone }}-ent_persone-id-nom-required-text"> {{ item.nom  }} </td>
					<td class="editable" rel="{{ item.idClientInfos }}-infos_client-id-nom_contact-norequired-text"> {{ item.nomContact  }}</td>
					<td class="editable" rel="{{ item.idEmail }}-ent_email-id-mail-required-email"> {{ item.mail  }}</td>
					<td class="editable" rel="{{ item.idFixe }}-ent_telephone-id-numero-norequired-text"> {{ item.telephoneFixe  }} </td>

					<td class="editable" rel="{{ item.idMobile }}-ent_telephone-id-numero-norequired-text">  {{ item.telephoneMobile  }}</td>

					<td class="editable" rel="{{ item.idAdresseFacturation }}-ent_adresse-id-ville-norequired-text"> {{ item.villeFacturation  }}</td>
					<td align="center">

					<button type="button" class="btn btn-outline-primary waves-effect waves-light m-1 btn_action gui_client_step-7" onClick="javascript:goToUrl('{{ path('crm_client_edit', { 'id': item.idClient } ) }}');" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier"> <i class="fa fa-edit"></i> </button>

					<button type="button" class="btn btn-outline-danger waves-effect waves-light m-1 btn_action gui_client_step-8" onClick="javascript:confirmDelete('{{ path('crm_client_delete', { 'id': item.idClient } ) }}');" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer"  > <i class="fa fa-trash-o"  title="Delete" ></i> </button>

					<button type="button" class="btn btn-outline-dark waves-effect waves-light m-1 btn_action gui_client_step-9" onClick="javascript:goToUrl('{{ path('crm_client_infos', { 'id': item.idClient } ) }}');" data-toggle="tooltip" data-placement="top" title="" data-original-title="Consulter"> <i class="fa fa-search"></i> </button>

					</td>
			    </tr>
			     {% endfor %} 
			     {% else %}
		        <tr>
		            <td colspan="6">
		                No data found !
		            </td>
		        </tr>
		    {% endif %}
			</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
<!--Data Tables js-->
<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
//Default data table
/* $('#clientsList').dataTable( {
	"language": {
    "url": "{{ asset('assets/plugins/bootstrap-datatable/js/French.json') }}" },
order: [0],
columnDefs: [ { orderable: false, targets: [5] } ]
}); */

// Build Datatable
//Default data table
var langMap = {
    en: {
        path: 'English',
        mods: {
            sLengthMenu:     "Show _MENU_ entries",
        }
    },
    fr: {
        path: 'French',
        mods: {
            sLengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments"
        }
    },
    gr: {
        path: 'German',
        mods: {
            sLengthMenu: "_MENU_ Einträge anzeigen"
        }
    }
};

function getLanguage() {
  var lang = 'fr';
  var result = null;
  var path = "{{ asset('./assets/plugins/bootstrap-datatable/js/') }}";
  $.ajax({
    async: false,  
    url: path + langMap[lang].path + '.json',
    success: function(obj) {
      result = $.extend({}, obj, langMap[lang].mods)
    }
  })
  return result
}

var table = $('#clientsList').DataTable({
    buttons: [ 'colvis' ],
    order: [0],
    stateSave: true,
    columnDefs: [ { orderable: false, targets: [0,7] } ],
    language: getLanguage(),
});
table.buttons().container().appendTo( '#clientsList_filter' );
$("#clientsList_filter div").css({"margin-left":"30px", "margin-right":"30px"});
$(".buttons-colvis").html('<i class="fa fa-navicon"></i> COLONNES ');
// add classes guide 
$("#clientsList_length").addClass('gui_client_step-91');
$("#clientsList_filter input").addClass('gui_client_step-92');
$("#clientsList_filter div").addClass('gui_client_step-93');
$("#clientsList_paginate ul").addClass('gui_client_step-94');
} );
</script>

<script type="text/javascript">
$(document).ready(function () {
    $(".editable").bind('click',function() {
        getEditable(this, '{{ path('facnote_click_save') }}', '{{ path('facnote_click_select') }}' );
    });
});
</script>

<script type="text/javascript">
	function checkClient(idclient,valCheck,_url) {
	    $(".loading").show();
	    $.ajax({
	        type: "POST",
	        url: _url,
	        data: 'id_client=' + idclient+'&checked='+valCheck,
	        success: function(msg) { }
	    });
	    return false;
	}
	$("#checkAll").click(function(){
	    $('input:checkbox').not(this).prop('checked', this.checked);
	});
</script>

{% endblock %}


