{% extends 'base.html.twig' %}

{% block title %}Gestion des clients{% endblock %}


{% block body %}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
			<div class="table-responsive">
            <form>
			<h4 class="form-header text-uppercase"><i class="fa fa-address-book-o"></i> Client Infos</h4>


              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td> Civilité </td>
                    <th>{{ client.idType.getType() }} </th>
                    <td>Nom de contact</td>
                    <th>{{ infosClient.nomContact }}</th>
                  </tr>
                  <tr>
                    <td> Nom </td>
                    <th>{{ client.idPersone.nom }}</th>
                    <td>Prénom</td>
                    <th>{{ client.idPersone.prenom }}</th>
                  </tr>

                  <tr>
                    <td> Email </td>
                    <th>{{ client.idEmail.mail }}</th>
                    <td>Responsable</td>
                    <th>{{ infosClient.responsable }}</th>
                  </tr>

                  <tr>
                    <td> Tél bureau </td>
                    <th>{{ client.idTelFixe.numero }}</th>
                    <td> Mobile </td>
                    <th>{{ client.idTelMobile.numero }}</th>
                  </tr>

                </tbody>
              </table>


        <h4 class="form-header text-uppercase"><i class="fa fa-file-text-o"></i> Facturation</h4>

        <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td> Numéro Tva </td>
                    <th>{{ infosClient.numeroTva }} </th>
                    <td>Siret</td>
                    <th>{{ infosClient.siret  }}</th>
                  </tr>

                  <tr>
                    <td> Adresse </td>
                    <th>{{ client.idAdresseFacturation.adresse }}</th>
                    <td>Ville</td>
                    <th>{{ client.idAdresseFacturation.ville }}</th>
                  </tr>

                  <tr>
                    <td> Code postale </td>
                    <th>{{ client.idAdresseFacturation.codePostale }}</th>
                    <td>Pays</td>
                    <th>{{ client.idAdresseFacturation.idPays.pays }}</th>
                  </tr>

                  <tr>
                    <td> Email facture </td>
                    <th>{{ infosClient.emailFacture }}</th>
                    <td>Reste à pays</td>
                    <th>00.00</th>
                  </tr>


                  <tr>
                    <td> Email facture </td>
                    <th>{{ infosClient.emailFacture }}</th>
                    <td>Reste à pays</td>
                    <th>00.00</th>
                  </tr>

                  <tr>
                    <td> Date facture </td>
                    <th></th>
                    <td>Date devis</td>
                    <th></th>
                  </tr>


                  <tr>
                    <td> Total CA </td>
                    <th></th>
                    <td>RIB Bancaire</td>
                    <th></th>
                  </tr>



                </tbody>
              </table>


              <div class="form-footer" align="center">
                  <button type="button" class="btn btn-danger" onClick="javascript:goToUrl('{{ path('crm_client_homepage') }}');"><i class="fa fa-long-arrow-left"></i> <span>RETOUR</span>  </button>
                  <button type="button" class="btn btn-success" onClick="javascript:goToUrl('{{ path('crm_client_edit', { 'id': client.id } ) }}');"><i class="fa fa-edit"></i> <span>MODIFIER</span> </button>
                  
              </div>



          </form>
            </div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
